<p-scrollPanel [style]="{ width: '100%', height: '500px' }">
  <div class="container-content">
    <div class="container-info">
      <form
        class="form-horizontal"
        method="POST"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="row-fluid">
          <div class="col-md-2 col-lg-2 col-xs-12">
            <div class="form-group">
              <div class="fileinput-new thumbnail container-image" style="width: 200px; height: 150px;">
                <img
                  *ngIf="course.imgPath; else NoImage"
                  [src]="course.imgPath"
                  alt=""
                />
                <ng-template #NoImage
                  ><img
                    src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                    alt=""
                /></ng-template>
                <span 
                class="btn default btn-file bottom-right"
                style="z-index: 99; opacity: 0.7"
                >
                  <i class="fa fa-camera" aria-hidden="true"></i>
                  <input
                    type="file"
                    name="file"
                    (change)="onFileSelected($event)"
                  />
                </span>
              </div>
            </div>
            <div class="margin-top-10">
              <button
                type="button"
                class="btn green btn-circle btn-sm"
                (click)="onChangeImage()"
              >
                Submit
              </button>
              <a href="#" class="btn btn-circle default btn-sm">
                Cancel
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-10 col-lg-10 col-xs-12">
            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3"
                  >Tên khóa học <span style="color: red;">*</span></label
                >
                <div class="col-md-9" style="padding-right: 0px !important">
                  <input
                    [(ngModel)]="course.name"
                    pInputText
                    name="name"
                    #name="ngModel"
                    type="text"
                    placeholder="admin, E.g"
                    [ngClass]="{
                      'is-invalid': f.submitted && name.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="f.submitted && name.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="name.errors.required" style="color:red;">
                      (*) Tên khóa học là bắt buộc.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3">Trạng thái</label>
                <div class="col-md-9" style="padding-right: 0px !important">
                  <mat-slide-toggle
                    [(ngModel)]="course.status"
                    name="status"
                    #status="ngModel"
                  ></mat-slide-toggle>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3"
                  >Loại khóa học <span style="color: red;">*</span></label
                >
                <div class="col-md-9" style="padding-right: 0px !important">
                  <select
                    class="form-control"
                    name="courseCategory"
                    [(ngModel)]="course.courseCategory.id"
                  >
                    <option
                      *ngFor="let courseCat of courseCategories"
                      value="{{ courseCat.id }}"
                      >{{ courseCat.name }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3"
                  >Nội dung khóa học <span style="color: red;">*</span></label
                >
                <div class="col-md-9" style="padding-right: 0px !important">
                  <ckeditor
                    [(ngModel)]="course.content"
                    name="content"
                    #content="ngModel"
                    [editor]="Editor"
                  ></ckeditor>

                  <div
                    *ngIf="f.submitted && content.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="content.errors.required" style="color:red;">
                      (*) Nội dung khoá học là bắt buộc.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3">Khóa học dài hạn? </label>
                <div class="col-md-9" style="padding-right: 0px !important">
                  <mat-slide-toggle
                    [(ngModel)]="course.longTermCourse"
                    name="longTermCourse"
                    #longTermCourse="ngModel"
                  ></mat-slide-toggle>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3"
                  >Học phí (VND) <span style="color: red;">*</span></label
                >
                <div class="col-md-9" style="padding-right: 0px !important">
                  <input
                    [(ngModel)]="course.costValue"
                    name="costValue"
                    #costValue="ngModel"
                    type="text"
                    pInputText
                    placeholder="Nhập học phí của khóa học"
                    [ngClass]="{
                      'is-invalid': f.submitted && costValue.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="f.submitted && costValue.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="costValue.errors.required" style="color:red;">
                      (*) Học phí là bắt buộc.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-md-12 col-lg-12 col-xs-12"
                style="margin-left: 0"
              >
                <label class="control-label col-md-3">Mô tả khóa học</label>
                <div class="col-md-9" style="padding-right: 0px !important">
                  <textarea
                    name="description"
                    id="description"
                    pInputTextarea
                    rows="6"
                    [(ngModel)]="course.description"
                    placeholder="Thêm mô tả về khóa học ..."
                  ></textarea>
                </div>
              </div>
            </div>
            <div
              class="form-actions modal-footer"
              style="padding-bottom: 15px !important;"
            >
              <div class="row">
                <div>
                  <button type="submit" class="btn green btn-sm">
                    Submit
                  </button>
                  <button
                    type="button"
                    class="btn default btn-sm"
                    (click)="closePopup()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-scrollPanel>
