<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Các lớp học đã đăng ký"
          subLinkTitle="Quản lý,Học viên"
          subLinkHref="#,/quan-ly/hoc-vien"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- END CONTENT -->
        <div class="row" style="padding-left: 15px">
          <h3>Học phí sinh viên <strong></strong></h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input
              name="TextFilter"
              [(ngModel)]="textFilter"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
              pInputText
              style="width: 100%"
            />
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12" style="padding-left: 5px">
            <p-dropdown
              [options]="statusDefined"
              [(ngModel)]="statusFilter"
              placeholder="Chọn trạng thái"
            ></p-dropdown>
          </div>

          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <br />
        <kendo-grid
          id="grid"
          [data]="gridData"
          [pageable]="false"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
        >
          <kendo-grid-column field="id" title="" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="paymentCost(dataItem.id)"
                  disabled
                  *ngIf="dataItem.tuitionValue <= 0; else NotPayment"
                >
                  Thanh toán <i class="fa fa-money" aria-hidden="true"></i>
                </button>
                <ng-template #NotPayment>
                  <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="paymentCost(dataItem.id)"
                >
                  Thanh toán <i class="fa fa-money" aria-hidden="true"></i>
                </button>
                </ng-template>
                
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="name"
            title="Tên lớp học"
            width="200"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="tuitionValue"
            title="Tình trạng học phí"
            width="150"
          >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.tuitionValue.toLocaleString() }}
          </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="room" title="Phòng học" width="120">
          </kendo-grid-column>
          <kendo-grid-column field="course.name" title="Khóa học" width="120">
          </kendo-grid-column>
          <kendo-grid-column field="noStudent" title="Số học viên" width="120">
          </kendo-grid-column>
          <kendo-grid-column field="openDate" title="Ngày mở lớp" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.openDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="endDate" title="Ngày kết thúc" width="150">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex>
              {{ dataItem.endDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex>
            <app-invoices-student-class [studentId]="studentId" [classId]="dataItem.id"></app-invoices-student-class>
          </ng-template>
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</block-ui>
