<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Điều khoản"
          subLinkTitle="Quản lý,Hợp đồng"
          subLinkHref="/dashboard,#"
        ></app-page-breadcrumb>
        <div class="row">
          <div class="col-md-6">
            <input
              [(ngModel)]="searchText"
              name="SearchText"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
              pInputText
              style="width: 100%"
            />
          </div>
          <div class="col-md-2">
            <p-dropdown [options]="contractTypesDisplay" [placeholder]="'Chọn loại hợp đồng'" [(ngModel)]="typeFilter"></p-dropdown>
          </div>
          <div class="col-md-2">
            <p-dropdown [options]="pStatus" [placeholder]="'Chọn trạng thái'" [(ngModel)]="statusFilter"></p-dropdown>
          </div>

          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <br>
        <kendo-grid
          id='grid'
          [data]="gridData"
          [pageable]="{
            buttonCount: 20,
            info: true,
            type: 'numeric',
            pageSizes: [2, 5, 10, 20, 50],
            previousNext: true
          }"
          [pageSize]="pageSize"
          [skip]="skip"
          [pageable]="true"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
          (pageChange)="pageChange($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <button class="btn btn-success btn-sm" (click)="router.navigate(['/quan-ly/hop-dong/hop-dong-nhan-vien/tao-moi'])">Thêm <i class="fa fa-plus"></i></button>
          </ng-template>
          >
          <kendo-grid-column field="id" title="" width="120">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <a
                  class="btn btn-warning btn-sm"
                  [routerLink]="['/quan-ly/hop-dong/hop-dong-nhan-vien', dataItem.id]"
                  pTooltip="Chi tiết/Cập nhật" tooltipPosition="top"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <button class="btn btn-sm btn-default" (click)="onExportContract(dataItem.id)" pTooltip="Xuất file" tooltipPosition="top"><i class="fa fa-file-word-o"></i></button>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="contractCode"
            title="Mã hợp đồng"
            width="120"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="name"
            title="Tên hợp đồng"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="contractType.name"
            title="Loại hợp đồng"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="nameSideA"
            title="Bên A"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="employee.name"
            title="Bên B"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="totalMonth"
            title="Thời hạn (Tháng)"
            width="120"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="startDate"
            title="Ngày bắt đầu"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.startDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="endDate"
            title="Ngày kết thúc"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.endDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="addressWork"
            title="Địa điểm làm việc"
            width="250"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="workDescription"
            title="Công việc"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="contractType.name"
            title="Bộ phận"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="salary"
            title="Mức lương"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column field="createdDate" title="Ngày tạo">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdBy" title="Người tạo">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
            width="150"
          >
          </kendo-grid-column>

        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</block-ui>
