<div class="pre-header">
  <div class="container">
    <div class="row">
      <!-- BEGIN TOP BAR LEFT PART -->
      <div class="col-md-6 col-sm-6 additional-shop-info">
        <ul class="list-unstyled list-inline">
          <li><i class="fa fa-phone"></i><span>028 3722 5858</span></li>
          <li><i class="fa fa-phone"></i><span>0962 090 270</span></li>
          <li><i class="fa fa-envelope-o"></i><span>info@newstar.vn</span></li>
        </ul>
      </div>
      <!-- END TOP BAR LEFT PART -->
      <!-- BEGIN TOP BAR MENU -->
      <div class="col-md-6 col-sm-6 additional-nav">
        <ul
          *ngIf="principal; else nonAuthen"
          class="list-unstyled list-inline pull-right"
        >
          <li>
            <a [routerLink]='["/dashboard"]'>Go to dashboard</a>
          </li>
          <li>
            <a [routerLink]='["/login"]'>{{ principal.employee.name }}</a>
          </li>
          <li><a [routerLink]='["/login"]'>Đăng xuất</a></li>
        </ul>
        <ng-template #nonAuthen>
          <ul class="list-unstyled list-inline pull-right">
            <li><a routerLink='["/login"]'>Đăng nhập</a></li>
            <li><a routerLink='["/login"]'>Đăng ký</a></li>
          </ul>
        </ng-template>
      </div>
      <!-- END TOP BAR MENU -->
    </div>
  </div>
</div>

<!-- BEGIN HEADER -->
<div class="header">
  <div class="container">
    <a class="site-logo" [routerLink]="['/trang-chu']">
      <img
        src="../../../assets/common/img/logonew.png"
        alt="Metronic Shop UI"
        style="width: 150px; height: 50px;"
    /></a>

    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation">
      <ul>
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            data-target="#"
            href="#"
          >
            Về chúng tôi
          </a>
          <!-- BEGIN DROPDOWN MENU -->
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/gioi-thieu/chuong-trinh-dao-tao']"
                >Chương trình đào tạo</a
              >
            </li>
            <li>
              <a [routerLink]="['/gioi-thieu/doi-ngu-giang-vien']"
                >Đội ngũ giảng viên</a
              >
            </li>
            <li>
              <a [routerLink]="['/gioi-thieu/doi-ngu-tu-van']"
                >Đội ngũ tư vấn</a
              >
            </li>
            <li>
              <a [routerLink]="['/gioi-thieu/co-so-ha-tang']">Cơ sở hạ tầng</a>
            </li>
            <li>
              <a [routerLink]="['/gioi-thieu/thanh-tuu-dat-duoc']"
                >Thành tựu đạt được</a
              >
            </li>
          </ul>
          <!-- END DROPDOWN MENU -->
        </li>
        <li class="dropdown dropdown-megamenu">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            data-target="#"
            href="#"
          >
            Loại khóa học
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of courseCategories">
              <a [routerLink]="['/loai-khoa-hoc',item.id]">{{item.name}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="shop-item.html">Lịch khai giảng</a>
          <ul class="dropdown dropdown-menu">
              <li *ngFor="let item of courseCategories">
                  <a [routerLink]="['/lich-khai-giang',item.id]">{{item.name}}</a>
                </li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            data-target="#"
            href="#"
          >
            Tin tức
          </a>
          <ul class="dropdown-menu">
            <li><a href="shop-index.html">Tin NewStar</a></li>
            <li><a href="shop-index-header-fix.html">Tin CNTT</a></li>
            <li>
              <a href="shop-index-light-footer.html">Câu chuyện thành công</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            data-target="#"
            href="#"
          >
            Tuyển dụng
          </a>
          <ul class="dropdown-menu">
            <li><a href="shop-index.html">NewStar</a></li>
            <li><a href="shop-index-header-fix.html">Đối tác</a></li>
          </ul>
        </li>
        <li><a href="onepage-index.html" target="_blank">Blog</a></li>
      </ul>
    </div>
    <!-- END NAVIGATION -->
  </div>
</div>
