@import "../../../../assets/common/css/custom.css";

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  margin-bottom: 0 !important;
}
