<div class="container-content">
  <div class="container-info">
    <form
      class="form-horizontal"
      method="POST"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <p-scrollPanel [style]="{ width: '100%', height: '400px'}" >
        <div class="row-fluid">
          <div
            class="col-md-12" style="padding-bottom: 10px;"
          >
            <label class="control-label col-md-3"
            >Tên điều khoản <span style="color: red;">*</span></label
            >
            <div class="col-md-9">
              <input
                [(ngModel)]="contractClause.title"
                name="title"
                #title="ngModel"
                type="text"
                style="width: 100%"
                pInputText
                placeholder="Tên điều khoản"
                [ngClass]="{
                  'is-invalid': f.submitted && title.invalid
                }"
                required
              />
              <div
                *ngIf="f.submitted && title.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="title.errors.required" style="color:red;">
                  (*) Tên điều khoản là bắt buộc.
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-12" style="padding-bottom: 10px;"
          >
            <label class="control-label col-md-3"
            >Tên điều khoản <span style="color: red;">*</span></label
            >
            <div class="col-md-9">
              <p-dropdown [style]="{'width':'100%'}" name="contractType" [options]="contractTypesDisplay" [placeholder]="'Chọn loại hợp đồng'" [(ngModel)]="contractClause.contractType.id"></p-dropdown>
            </div>
          </div>
          <div
            class="col-md-12" style="padding-bottom: 10px;"
          >
            <label class="control-label col-md-3"
            >Nội dung <span style="color: red;">*</span></label
            >
            <div class="col-md-9">
              <ckeditor
                [(ngModel)]="contractClause.content"
                name="content"
                #content="ngModel"
                [editor]="Editor"
                [ngClass]="{
                  'is-invalid': f.submitted && content.invalid
                }"
                required
              ></ckeditor>
              <div
                *ngIf="f.submitted && content.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="content.errors.required" style="color:red;">
                  (*) Nội dung điều khoản là bắt buộc.
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-12" style="padding-bottom: 10px;"
          >
            <label class="control-label col-md-3"
            >Mô tả </label
            >
            <div class="col-md-9">
          <textarea
            pInputTextarea
            style="width: 100%"
            [(ngModel)]="contractClause.description"
            name="description"
            type="text"
            placeholder="Mô tả điều khoản"
          ></textarea>
            </div>
          </div>
          <div class="form-actions modal-footer" style="padding-bottom: 15px !important;">
            <div class="row-fluid">
              <div style="text-align: center">
                <button type="submit" class="btn green">Submit</button>
                <button type="button" class="btn default" (click)="closePopup()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>

    </form>
  </div>
</div>
