<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Điều khoản"
          subLinkTitle="Quản lý,Hợp đồng"
          subLinkHref="/dashboard,#"
        ></app-page-breadcrumb>
        <div class="row">
          <h3>Thông tin chung</h3>
          <div class="col-md-12">
            <div class="col-md-3">
              <label><strong>Loại hợp đồng</strong></label>
              <p-dropdown [style]="{'width':'95%'}" (onChange)="onChangeContractType()" [(ngModel)]="contractEmployee.contractType.id" [options]="contractTypesDisplay" [placeholder]="'Chọn loại hợp đồng'"></p-dropdown>
            </div>
            <div class="col-md-3">
              <label><strong>Mã hợp đồng</strong></label>
              <input style="width: 95% !important;" [disabled]="disable" pInputText class="input-text" placeholder="Mã hợp đồng" [(ngModel)]="contractEmployee.contractCode"/>
            </div>
            <div class="col-md-3">
              <label><strong>Tên hợp đồng</strong></label>
              <input style="width: 95% !important;" [disabled]="disable" pInputText class="input-text" placeholder="Tên hợp đồng"/>
            </div>
            <div class="col-md-3">
              <label><strong>Trạng thái</strong></label>
              <p-dropdown [style]="{'width':'95%'}" [options]="statusDisplay" [placeholder]="'Chọn trạng thái'" [(ngModel)]="contractEmployee.status"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <h3>Thông tin hợp đồng</h3>
          <div class="col-md-12">
            <div class="col-md-6">
              <h5><strong>Bên A</strong></h5>
              <div class="row">
                <label><strong>Ký hợp đồng với :</strong></label>
                <input [disabled]="disable" style="width: 95%" pInputText/>
              </div>
              <div class="row">
                <div class="col-md-6" style="padding-left: 0">
                  <label><strong>Họ và tên</strong></label>
                  <input [disabled]="disable" pInputText class="input-text" [(ngModel)]="contractEmployee.nameSideA"/>
                </div>
                <div class="col-md-6"style="padding-right: 0">
                  <label><strong>Chức vụ</strong></label>
                  <input [disabled]="disable" pInputText class="input-text" [(ngModel)]="contractEmployee.positionSideA"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" style="padding-left: 0">
                  <label><strong>Điện thoại</strong></label>
                  <input [disabled]="disable" pInputText class="input-text" [(ngModel)]="contractEmployee.phoneSideA"/>
                </div>
                <div class="col-md-8"style="padding-right: 0">
                  <label><strong>Địa chỉ</strong></label>
                  <input [disabled]="disable" pInputText style="width: 93% !important;" [(ngModel)]="contractEmployee.addressSideA"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5><strong>Bên B</strong></h5>
              <div class="row">
                <div class="col-md-6" style="padding-left: 0">
                  <div class="row">
                    <label><strong>Họ và tên</strong></label>
                    <p-dropdown (onChange)="onChangeEmployee()" [style]="{'width':'90%'}" [options]="employeesDisplay" [placeholder]="'Chọn nhân viên'" [filter]="true" [(ngModel)]="contractEmployee.employee.id"></p-dropdown>
                  </div>
                  <div class="row">
                    <label><strong>Dân tộc</strong></label>
                    <input class="input-text" pInputText [(ngModel)]="contractEmployee.employee.folk" [disabled]="true"/>
                  </div>
                  <div class="row">
                    <label><strong>Số CMND</strong></label>
                    <input class="input-text" pInputText [(ngModel)]="contractEmployee.employee.indentify" [disabled]="true"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label><strong>Ngày sinh</strong></label>
                    <p-calendar [inputStyle]="{'width':'90%'}" [(ngModel)]="contractEmployee.employee.birthDay" [disabled]="true" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                  <div class="row">
                    <label><strong>Trình độ</strong></label>
                    <input class="input-text" pInputText [(ngModel)]="contractEmployee.employee.diploma" [disabled]="true"/>
                  </div>
                  <div class="row">
                    <label><strong>Chuyên ngành</strong></label>
                    <input class="input-text" pInputText [(ngModel)]="contractEmployee.employee.major" [disabled]="true"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <h3>Thông tin điều khoản</h3>
          <div class="col-md-12" style="z-index: 999">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Thời hạn</th>
                  <th>Ngày bắt đầu</th>
                  <th>Ngày kết thúc</th>
                  <th>Địa điểm làm viên</th>
                  <th>Công việc</th>
                  <th>Bộ phận</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input [disabled]="disable" pInputText type="text" pKeyFilter="pnum" [(ngModel)]="contractEmployee.totalMonth"/></td>
                  <td><p-calendar [(ngModel)]="contractEmployee.startDate" dateFormat="dd/mm/yy"></p-calendar></td>
                  <td><p-calendar [(ngModel)]="contractEmployee.endDate" dateFormat="dd/mm/yy"></p-calendar></td>
                  <td><input [disabled]="disable" pInputText [(ngModel)]="contractEmployee.addressWork"/></td>
                  <td><input [disabled]="disable" pInputText [(ngModel)]="contractEmployee.workDescription"/></td>
                  <td><input [disabled]="disable" pInputText/></td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-container *ngFor="let item of contractEmployee.contractEmployeeRules | orderByPipe:'title'">
            <ckeditor
              [(ngModel)]="item.content"
              [editor]="Editor"
            ></ckeditor>
            <br>
          </ng-container>
        </div>
        <div class="row-fluid">

        </div>
        <div class="row" *ngIf="disable === false">
          <button class="btn btn-sm btn-success" (click)="onSubmit()">Tạo hợp đồng</button>
        </div>

      </div>
    </div>
  </div>
</block-ui>
