<div class="portlet solid bordered grey-cararra">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-bar-chart-o"></i>Thống kê tài khoản trong năm {{ currentYear }}
    </div>
  </div>
  <div class="portlet-body">
    <canvas id="canvas">{{ chartUsers }}</canvas>
  </div>
</div>