<div class="corporate" style="background-color: #fff !important">
    <app-header-client></app-header-client>
  
    <div class="row-fluid">
      <div class="container">
        <app-page-breadcrumb
          activePage="Lớp học"
          subLinkTitle="Trang chủ,Khóa học"
          subLinkHref="/trang-chu,#"
        ></app-page-breadcrumb>
      </div>
    </div>
  
    <div class="row-fluid">
      <div class="container" style="padding: 0">
        <div class="col-md-12">
          <div class="alert alert-success">
            Để đăng ký lớp học, vui lòng chọn 1 lớp học và nhấn nút "Đăng ký"
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">
            <i>Vui lòng chọn khóa học để xem danh sách lớp học</i>
          </div>
          <div class="col-md-4">
            <select class="form-control" (change)="selectCourse()" name="CourseId" [(ngModel)]="courseId">
              <option value={{item.value}} *ngFor="let item of courses">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <app-alert-error *ngIf="errors && errors.length > 0" [strongMsg]="errors[0].message"></app-alert-error>
        </div>
      </div>
    </div>
    <br />
  
    <app-footer-client></app-footer-client>
    <app-popup-chat></app-popup-chat>
    <app-popup-social></app-popup-social>
    <app-scroll-to-top></app-scroll-to-top>
  </div>
  