<kendo-grid
  [data]="gridData"
  [pageable]="false"
  [navigable]="true"
  kendoGridFocusable
>
  <kendo-grid-column field="id" title="" width="60">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button
        class="btn btn-warning btn-sm" (click)="onPrintInvoice()"
      >In <i class="fa fa-print" aria-hidden="true"></i></button>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="content" title="Nội dung" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="paymentValue" title="Số tiền đã đóng" width="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.paymentValue.toLocaleString() }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="paymentDate" title="Ngày đóng" width="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.paymentDate | date: "dd/MM/yyyy hh:mm" }}
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<div [class.isPrinting]="printService.isPrinting">
  <button (click)="onPrintInvoice()"></button>
  <router-outlet name="print"></router-outlet>
</div>
