* {box-sizing: border-box;}

/* h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 190px;
  height: 5px;
  width: 100px;
  background-color: #ff3115;
} */

.course-img {
  position: relative;
  text-align: center;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sec-insfrastructure {
  padding: 20px 0 20px 0
}

/* CSS Overlay */
.container-overlay {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-overlay:hover .overlay {
  height: 100%;
  opacity: 0.9;
}

.container-info {
  padding: 10px 16px 10px 10px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

