<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i> <a href="/trang-chu">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li><a href="#">Thông tin giảng viên</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-4">
        <img
          class="img-thumbnail"
          src="../../../assets/common/img/infrastructure/csvc-newstar-3.jpg"
          alt="csvc-newstar-3"
          srcset=""
        />
      </div>
      <div class="col-md-8">
        <h2>
          <strong>{{ lecture.name }}</strong>
        </h2>
        <p><i class="fa fa-envelope-o"></i> {{ lecture.email }}</p>
        <p><i class="fa fa-phone"></i> {{ lecture.phoneNumber }}</p>
        <p *ngIf="lecture.description; else Updating">
            {{ lecture.description }}
        </p>
        <ng-template #Updating>
          <p><i>Đang cập nhật ...</i></p>
        </ng-template>
      </div>
    </div>
  </div>
  <br />

  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>
</div>
