<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 710px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage='Phân quyền tài khoản'
          subLinkTitle='Quản lý'
          subLinkHref='#'
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="row">
          <div class="col-md-6">
            <h4>Phân quyền cho tài khoản <strong>{{user.username}}</strong></h4>
          </div>
        </div>
        <!-- BEGIN TABLE -->
        <div *ngIf="error" class="alert alert-danger" class="alert alert-danger">
          <span>
            {{error}} </span>
        </div>
        <!-- <button class="btn-title-popup" data-toggle="collapse" data-target="#user-right">Quyền nhóm</button> -->
        <div id="user-right">
          <div class="row">
            <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet box grey-cascade">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-globe"></i>Danh sách quyền người dùng
                  </div>
                  <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                  </div>
                </div>
                <div class="portlet-body">
                  <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <!-- <thead>
                      <tr>
                        <th *ngFor="let role of roles"> {{role.roleName}}
                        </th>
                      </tr>
                    </thead> -->
                    <tbody>
                      <tr class="odd gradeX">
                        <td *ngFor="let role of roles;">
                          <mat-checkbox value={{role.id}} [(ngModel)]="role.isOfUser" (change)=toggleSetRole($event,role)>{{role.roleName}}</mat-checkbox>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
          </div>
        </div>
        <br>
        <!-- END TABLE -->
        <!-- END PAGE CONTENT -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</block-ui>
