.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 5px;
  width: 100%;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.page-bar::before, .page-bar::after {
  content: " ";
  display: table;
}

.page-bar::after {
  clear: both;
}

.pre-link {
  color: grey;
}