<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i> <a href="/trang-chu">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li><a href="#">Đội ngũ giảng viên</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <h4><strong>ĐỘI NGŨ GIẢNG VIÊN</strong></h4>
      <br>
      <p>Với đội ngũ giảng viên là những chuyên gia, nhiều kinh nghiệm thực tế, nhiệt tình trong giảng dạy, đam mê trong lãnh vực nghiên cứu, chia sẻ, cùng với hệ thống thiết bị hiện đại được đầu tư hàng năm, và sự hỗ trợ về tài liệu của các hãng sản xuất thiết bị. Với gần 10 năm hoạt động Newstar tự hào là trung tâm đào tạo chất lượng hàng đầu tại Việt Nam.Ban chuyên môn của trung tâm đào tạo Newstar gồm những chuyên gia đang giảng dạy ở các trường Đại học và các chuyên gia đang làm việc tại các tập đoàn, công ty lớn về lĩnh vực CNTT. Ban chuyên môn có nhiệm vụ đề xuất các môn học, khóa học mới, cập nhật nội dung đào tạo, phương pháp đào tạo mới nhằm đáp ứng các thay đổi nội dung, chương trình và các công nghệ tiên tiến, đảm bảo cho người học được cập nhật kiến thức và công nghệ mới nhất về lĩnh vực CNTT.</p>
    </div>
  </div>

  <div class="row-fluid sec-insfrastructure">
    <div class="container">

      <div *ngFor="let lecture of lectures" class="col-md-3">
        <div class="card">
        <div class="container-overlay">
          <div class="course-img">
            <img
              src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
              alt="Jane"
              style="width:100%"
            />
          </div>
          <div class="overlay">
            <div class="text form-group">
              <a class="btn btn-info" href="/gioi-thieu/doi-ngu-giang-vien/{{lecture.id}}"
                ><i class="fa fa-info" aria-hidden="true"></i> chi tiết</a
              >
            </div>
          </div>
        </div>

        <div class="container-info">
          <h3 style="text-align: center">{{lecture.name}}</h3>
        </div>
      </div>
      </div>
    </div>
  </div>
  <br>
  
  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>
</div>