<div>
  <div class="row" style="margin-top: 0; padding-top: 0">
    <h3>
      <strong>Nhóm quyền : {{ role.description }}</strong>
    </h3>
  </div>
  <div class="row">
    <p-tabView>
      <p-tabPanel header="Danh sách người dùng" leftIcon="fa fa-info-circle">
        <div class="row" style="padding-bottom: 10px">
          <div class="col-md-6">
            <input
              [(ngModel)]="searchText"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
            />
          </div>
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <ng-template pTemplate="content">
          <!-- Danh sách học viên -->
          <kendo-grid
            [data]="gridDataUser"
            [pageable]="{
              buttonCount: 20,
              info: true,
              type: 'numeric',
              pageSizes: [2, 5, 10, 20, 50],
              previousNext: true
            }"
            [height]="300"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            [sortable]="true"
            [groupable]="false"
            [filterable]="false"
            [navigable]="true"
            (pageChange)="pageChange($event)"
          >
            >
            <kendo-grid-column
              field="username"
              title="Tên đăng nhập"
              width="150"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="employee.name"
              title="Tên người dùng"
              width="200"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="employee.email"
              title="E-mail"
              width="150"
            >
            </kendo-grid-column>
          </kendo-grid>
          <!-- End -->
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Cấu hình chức năng" leftIcon="fa fa-cogs">
        <div class="row" style="padding-bottom: 10px">
          <div class="col-md-6">
            <input
              [(ngModel)]="searchText"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
            />
          </div>
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <ng-template pTemplate="content">
          <!-- Danh sách học viên -->
          <kendo-grid
            [data]="gridData"
            [pageable]="{
              buttonCount: 20,
              info: true,
              type: 'numeric',
              pageSizes: [2, 10, 20, 50],
              previousNext: true
            }"
            [height]="300"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            [sortable]="true"
            [groupable]="false"
            [filterable]="false"
            [navigable]="true"
            (pageChange)="pageChange($event)"
          >
            <ng-template kendoGridToolbarTemplate>
              <app-table-toolbar
                classStudentInput="{{ classId }}"
                (emitAfterCreateRecord)="getDataAfterCreate($event)"
                (emitImportExcel)="recieveFormDataToImportExcel($event)"
              ></app-table-toolbar>
            </ng-template>
            >
            <kendo-grid-column field="id" title="" width="100" [locked]="true">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div align="center">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="deleteStudent(dataItem.id)"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <a
                    type="button"
                    class="btn btn-info btn-sm"
                    [routerLink]="['/quan-ly/hoc-vien/chi-tiet', dataItem.id]"
                  >
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </a>
                </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="name"
              title="Tên học viên"
              width="200"
              [locked]="true"
            >
            </kendo-grid-column>
            <kendo-grid-column field="gender" title="Giới tính" width="100">
              <ng-template kendoGridCellTemplate let-dataItem>
                <ng-container *ngIf="dataItem.gender === false; else statusTrue"
                  >Nữ</ng-container
                >
                <ng-template #statusTrue>
                  Nam
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="birthDay" title="Ngày sinh" width="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.birthDay | date: "dd/MM/yyyy" }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="status" title="Trạng thái" width="100">
              <ng-template kendoGridCellTemplate let-dataItem>
                <ng-container *ngIf="dataItem.status === false; else statusTrue"
                  >Ngưng hoạt động</ng-container
                >
                <ng-template #statusTrue>
                  Hoạt động
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="job.name" title="Công việc" width="200">
            </kendo-grid-column>
            <kendo-grid-column
              field="contact.contactName"
              title="Tên liên hệ"
              width="150"
            >
            </kendo-grid-column>
            <kendo-grid-column field="contact.email" title="E-mail" width="200">
            </kendo-grid-column>
            <kendo-grid-column
              field="contact.mobilePhone"
              title="Điện thoại"
              width="150"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="contact.workPhone"
              title="Điện thoại chỗ làm"
              width="150"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="contact.backAccount"
              title="Tài khoản"
              width="150"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="contact.address1"
              title="Địa chỉ"
              width="250"
            >
            </kendo-grid-column>
            <kendo-grid-column field="createdDate" title="Ngày tạo" width="180">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="createdBy" title="Người tạo" width="150">
            </kendo-grid-column>
            <kendo-grid-column
              field="updatedDate"
              title="Ngày cập nhật"
              width="180"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.updateDate | date: "dd/MM/yyyy hh:mm:ss" }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="updatedBy"
              title="Người cập nhật"
              width="150"
            >
            </kendo-grid-column>
          </kendo-grid>
          <!-- End -->
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
