<button class="open-button" (click)="openChatBox()">
  Tư vấn : 0962090270
</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h4>Tư Vấn: 0962090270</h4>

    <label for="msg"
      ><b
        >Bạn vui lòng điền vào biểu mẫu dưới đây để nói chuyện với nhân viên
        đang trực tiếp theo.</b
      ></label
    >
    <!-- <div class="panel panel-body chat" *ngIf="showConversation"> -->
    <!-- <div class="panel panel-body chat">
      <div *ngFor="let greeting of greetings">
        <div *ngIf="isSend; else isReceive">
          <app-message-right></app-message-right>
        </div>
        <ng-template #isReceive>
          <div><app-message-left></app-message-left></div>
        </ng-template>
      </div>
    </div> -->

    <span class="ui-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        style="width: 100%"
        [(ngModel)]="sender.name"
        name="Name"
      />
      <label for="float-input">Họ và tên</label>
    </span>
    <br />
    <span class="ui-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        style="width: 100%"
        [(ngModel)]="sender.email"
        name="Email"
      />
      <label for="float-input">E-mail</label>
    </span>
    <br />
    <span class="ui-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        style="width: 100%"
        [(ngModel)]="sender.phone"
        name="Phone"
      />
      <label for="float-input">Số điện thoại</label>
    </span>
    <br />
    <!-- <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      placeholder="Nhập tin nhắn ..."
      [(ngModel)]="name"
    /> -->
    <!-- <div class="form-group">
      <button type="submit" class="btn" (click)="sendName()">Send</button>
      <button type="button" class="btn cancel" (click)="closeChatBox()">
        Close
      </button>
    </div> -->
    <div class="form-group">
      <button type="submit" class="btn" (click)="onSendMessage()">Send</button>
      <button type="button" class="btn cancel" (click)="closeChatBox()">
        Close
      </button>
    </div>
  </form>
</div>
