<div class="container-content">

<div class="container-info">
  <form
    class="form-horizontal"
    method="POST"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="row-fluid">
      <div class="form-group">
        <label class="control-label col-md-4"
          >Từ khóa quyền <span style="color: red;">*</span></label
        >
        <div class="col-md-8">
          <input
            [(ngModel)]="role.roleName"
            name="roleName"
            #roleName="ngModel"
            type="text"
            class="form-control text-action"
            placeholder="ROLE_ADMIN, E.g"
            [ngClass]="{
              'is-invalid': f.submitted && roleName.invalid
            }"
            pInputText
            required
          />
          <div *ngIf="f.submitted && roleName.invalid" class="invalid-feedback">
            <div *ngIf="roleName.errors.required" style="color:red;">
              (*) Từ khóa quyền là bắt buộc.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-4"
            >Tên nhóm quyền <span style="color: red;">*</span></label
          >
          <div class="col-md-8">
            <input
              [(ngModel)]="role.description"
              name="description"
              #description="ngModel"
              type="text"
              class="form-control text-action"
              placeholder="Quản trị viên, E.g"
              [ngClass]="{
                'is-invalid': f.submitted && description.invalid
              }"
              pInputText
              required
            />
            <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
              <div *ngIf="description.errors.required" style="color:red;">
                (*) Tên nhóm quyền là bắt buộc.
              </div>
            </div>
          </div>
        </div>
      <div class="form-group">
        <label class="control-label col-md-4">Trạng thái</label>
        <div class="col-md-8">
          <mat-slide-toggle
            [(ngModel)]="role.status"
            name="status"
            #status="ngModel"
          ></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="form-actions modal-footer" style="padding-bottom: 15px !important;">
      <div class="row">
        <div style="text-align: center">
          <button type="submit" class="btn green">Submit</button>
          <button type="button" (click)="closePopup()" class="btn default">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>