<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Điều khoản"
          subLinkTitle="Quản lý,Hợp đồng"
          subLinkHref="/dashboard,#"
        ></app-page-breadcrumb>
        <div class="row">
          <div class="col-md-6">
            <input
              [(ngModel)]="searchText"
              name="SearchText"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
              pInputText
              style="width: 100%"
            />
          </div>
          <div class="col-md-2">
            <p-dropdown [options]="pStatus" [placeholder]="'Chọn trạng thái'" [(ngModel)]="statusFilter"></p-dropdown>
          </div>
          <div class="col-md-2">
            <p-dropdown [options]="contractTypesDisplay" [placeholder]="'Chọn loại hợp đồng'" [(ngModel)]="contractTypeFilter"></p-dropdown>
          </div>
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <br />
        <kendo-grid
          id='grid'
          [data]="gridData"
          [pageable]="{
            buttonCount: 20,
            info: true,
            type: 'numeric',
            pageSizes: [2, 5, 10, 20, 50],
            previousNext: true
          }"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
          (pageChange)="pageChange($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <button class="btn btn-success btn-sm" (click)="showPopupAdd()">Thêm <i class="fa fa-plus"></i></button>
          </ng-template>
          >
          <kendo-grid-column field="id" title="">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <button
                  class="btn btn-warning btn-sm"
                  (click)="showPopupEdit(dataItem.id)"
                  pTooltip="Chi tiết/Cập nhật" tooltipPosition="top"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="deleteContractClause(dataItem.id)"
                  pTooltip="Xóa" tooltipPosition="top"
                >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="title"
            title="Tên điều khoản"
            width="120"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="description"
            title="Mô tả"
            width="300"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="contractType.name"
            title="Loại hợp đồng"
          >
          </kendo-grid-column>
          <kendo-grid-column field="createdDate" title="Ngày tạo">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdBy" title="Người tạo">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
          >
          </kendo-grid-column>

        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</block-ui>
