@import "../../../assets/common/css/custom.css";
.page-content-wrapper{
  margin-top: 46px;
}
@media only screen and (max-width: 992px) {
  .page-content-wrapper{
      margin-top: 0px !important;
  }
}

.title-info {
  margin-top:-5px !important;
}

.container-content {
  padding: 5px 20px 0 10px;
}

.form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

textarea {
  resize: none;
  outline: none;
}



