  <div class="container-content">
    <div class="container-info">
      <form
        class="form-horizontal"
        method="POST"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="row-fluid">
          <div class="form-group">
            <label class="control-label col-md-4"
              >Tên loại khóa học <span style="color: red;">*</span></label
            >
            <div class="col-md-8">
              <input
                [(ngModel)]="courseCategory.name"
                name="name"
                #name="ngModel"
                type="text"
                class="form-control text-action"
                placeholder="Quản trị mạng, Hệ thống thông tin, Lập trình phần mềm, E.g"
                [ngClass]="{
                  'is-invalid': f.submitted && name.invalid
                }"
                pInputText
                required
              />
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required" style="color:red;">
                  (*) Tên loại khóa học là bắt buộc.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Trạng thái</label>
            <div class="col-md-8">
              <mat-slide-toggle
                [(ngModel)]="courseCategory.status"
                name="status"
                #status="ngModel"
              ></mat-slide-toggle>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4"
              >Mô tả <span style="color: red;">*</span></label
            >
            <div class="col-md-8">
              <textarea
                name="description"
                id="desc"
                class="text-action"
                rows="6"
                [(ngModel)]="courseCategory.description"
                #description="ngModel"
                pInputTextarea
                autoResize
              ></textarea>
            </div>
          </div>
        </div>
        <div
          class="form-actions modal-footer"
          style="padding-bottom: 15px !important;"
        >
          <div class="row">
            <div style="text-align: center">
              <button type="submit" class="btn green btn-sm">Submit</button>
              <button type="button" class="btn default btn-sm" (click)="closePopup()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
