<div class="row" style="padding-bottom: 10px">
    <div class="col-md-6">
      <input
        [(ngModel)]="searchFilter"
        name="SearchFilter"
        class="form-control"
        placeholder="Nhập từ khóa cần tìm ..."
      />
    </div>
    <div class="pull-right form-actions" style="margin-right:15px;">
      <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
      <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
        Hủy lọc
      </button>
    </div>
  </div>
  <!-- Danh sách học viên -->
  <kendo-grid
    id="grid1"
    [data]="gridData"
    [pageable]="{
      buttonCount: 20,
      info: true,
      type: 'numeric',
      pageSizes: [2, 10, 20, 50],
      previousNext: true
    }"
    [pageSize]="pageSize"
    [skip]="skip"
    [sortable]="true"
    [groupable]="false"
    [filterable]="false"
    [navigable]="true"
    (pageChange)="pageChange($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button class="btn btn-success btn-sm">Thêm <i class='fa fa-plus'></i></button>
      <label class="btn btn-info btn-sm" style="margin-bottom: 0 !important">
        <input
          type="file"
          accept=".xls,.xlsx"
          (change)="onChangeExcel($event)"
          style="display: none"
        />
        upload <i class="fa fa-upload" aria-hidden="true"></i>
      </label>
      <button
              class="btn btn-sm" style="background-color: dodgerblue"
        (click)="updateMark()"
      >
        Lưu <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
      <button class="btn btn-primary pull-right">Tính điểm <i class="fa fa-calculator" aria-hidden="true"></i></button>
    </ng-template>

    <kendo-grid-column
      field="student.id"
      title="Mã học viên"
      width="150"
      [style]="{ 'text-align': 'center', color: 'black' }"
      [locked]="true"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div align="center">
        {{ dataItem.student.id }}
      </div>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="student.id"
      title=""
      width="100"
      [locked]="true"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div align="center">
          <i *ngIf="dataItem.total >= 5; else pass" class="fa fa-check" style="color: green"></i>
          <ng-template #pass>
            <i class="fa fa-times" style="color: red"></i>
          </ng-template>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="student.name"
      title="Tên học viên"
      width="200"
      [locked]="true"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="midMark"
      title="Điểm giữa khóa"
      width="200"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
        <div align="center">
          <input pInputText [(ngModel)]="dataItem.midMark" style="text-align: center"/>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="finalMark"
      title="Điểm cuối khóa"
      width="200"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
        <div align="center">
          <input pInputText [(ngModel)]="dataItem.finalMark" style="text-align: center"/>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="total"
      title="Điểm tổng kết"
      width="200"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div align="center">
        <input pInputText [(ngModel)]="dataItem.total" style="text-align: center"/>
      </div>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="updatedDate"
      title="Ngày cập nhật"
      width="180"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.updatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="updatedBy"
      title="Người cập nhật"
      width="150"
    >
    </kendo-grid-column>
  </kendo-grid>
  <div *ngIf="kendoLoading" class="k-i-loading"></div>
