@import "../../../assets/common/css/custom.css";

.row {
  margin-left: 0;
  margin-right: 0;
}

.title-info {
  margin-top:-5px !important;
}

.container-content {
  padding: 15px 20px 0 10px;
}

.sec-info {
  width: 80%;
}

.form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


input, textarea {
  width: 100% !important;
}

textarea {
  resize: none;
  outline: none;
  padding: 5px;
}
