<div class="container-content" style="min-height: 440px">
  <p-tabView>
    <p-tabPanel header="Thông tin lớp học" leftIcon="fa fa-info-circle">
      <div class="container-info">
        <form
          class="form-horizontal"
          method="POST"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="row">
            <div
              class="col-md-12"
              style="padding-left: 20px !important; padding-right: 0 !important"
            >
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4"
                    >Tên lớp học <span style="color: red;">*</span></label
                  >
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="class.name"
                      name="Name"
                      #Name="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="Lập trình web, E.g"
                      [ngClass]="{
                        'is-invalid': f.submitted && Name.invalid
                      }"
                      pInputText
                      required
                    />
                    <div
                      *ngIf="f.submitted && Name.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="Name.errors.required" style="color:red;">
                        (*) Tên lớp học là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4"
                    >Khóa học <span style="color: red">*</span>
                  </label>
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <select
                      class="form-control"
                      name="courses"
                      [(ngModel)]="class.course.id"
                      courses="ngModel"
                      [ngClass]="{
                        'is-invalid': f.submitted && courses.invalid
                      }"
                      required
                    >
                      <option
                        *ngFor="let course of courses"
                        value="{{ course.id }}"
                        >{{ course.name }}</option
                      >
                    </select>
                    <div
                      *ngIf="f.submitted && courses.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="courses.errors.required" style="color:red;">
                        (*) Khóa học là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4"
                    >Phòng học <span style="color: red;">*</span></label
                  >
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="class.room"
                      name="room"
                      #room="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="A5-301, E.g"
                      [ngClass]="{
                        'is-invalid': f.submitted && room.invalid
                      }"
                      pInputText
                      required
                    />
                    <div
                      *ngIf="f.submitted && room.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="room.errors.required" style="color:red;">
                        (*) Phòng học là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">Số học viên</label>
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="class.noStudent"
                      name="noStudent"
                      #noStudent="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="100, E.g"
                      [ngClass]="{
                        'is-invalid': f.submitted && noStudent.invalid
                      }"
                      required
                    />
                    <div
                      *ngIf="f.submitted && noStudent.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="noStudent.errors.required" style="color:red;">
                        (*) Số học viên là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4"
                    >Học phí <span style="color: red;">*</span></label
                  >
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="class.tuitionValue"
                      name="tuitionValue"
                      #tuitionValue="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="3000000, E.g"
                      [ngClass]="{
                        'is-invalid': f.submitted && tuitionValue.invalid
                      }"
                      pInputText
                      required
                    />
                    <div
                      *ngIf="f.submitted && tuitionValue.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="tuitionValue.errors.required" style="color:red;">
                        (*) Học phí là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">Học viên đăng ký</label>
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="class.currentNoStudent"
                      name="currentNoStudent"
                      #currentNoStudent="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="0, E.g"
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4"
                    >Ngày mở lớp <span style="color: red;">*</span></label
                  >
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <p-calendar
                      [(ngModel)]="class.openDate"
                      name="openDate"
                      #openDate="ngModel"
                      dateFormat="dd/mm/yy"
                      [ngClass]="{
                        'is-invalid': f.submitted && openDate.invalid
                      }"
                      [showIcon]="true"
                      [inputStyleClass]="form - control"
                      required
                      showTime="true"
                    ></p-calendar>
                    <div
                      *ngIf="f.submitted && openDate.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="openDate.errors.required" style="color:red;">
                        (*) Ngày mở lớp là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4"
                    >Ngày kết thúc <span style="color: red;">*</span></label
                  >
                  <div class="col-md-8" style="padding-right: 0px !important">
                    <p-calendar
                      [(ngModel)]="class.endDate"
                      name="endDate"
                      #endDate="ngModel"
                      dateFormat="dd/mm/yy"
                      [ngClass]="{
                        'is-invalid': f.submitted && endDate.invalid
                      }"
                      [showIcon]="true"
                      [inputStyleClass]="form - control"
                      required
                      showTime="true"
                    ></p-calendar>
                    <div
                      *ngIf="f.submitted && endDate.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="endDate.errors.required" style="color:red;">
                        (*) Ngày kết thúc là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label col-md-2">Mô tả lớp học</label>
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <textarea
                      name="description"
                      id="description"
                      pInputTextarea
                      class="text-action"
                      rows="6"
                      [(ngModel)]="class.description"
                      #description="ngModel"
                      placeholder="Thêm mô tả về lớp học ..."
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="form-actions modal-footer"
              style="padding-bottom: 15px !important;"
            >
              <div class="row">
                <div style="text-align: center">
                  <button type="submit" class="btn green">Submit</button>
                  <button
                    type="button"
                    class="btn default"
                    (click)="closePopup()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Thông tin giảng viên" leftIcon="fa fa-user">
      <ng-template pTemplate="content">
        <app-alert-error
          *ngIf="!id; else existClass"
          normalMsg="Không thể thêm/sửa giảng viên. Vui lòng thêm/chọn lớp học để thêm/sửa giảng viên"
        ></app-alert-error>
        <ng-template #existClass>
          <div class="row">
            <div class="col-md-6">
              <input
                [(ngModel)]="searchText"
                class="form-control"
                placeholder="Nhập từ khóa cần tìm ..."
              />
            </div>
            <div class="pull-right form-actions" style="margin-right:15px;">
              <button class="btn btn-info" (click)="onFilter()">Lọc</button>
              <button class="btn btn-danger" (click)="onCancelFilter()">
                Hủy lọc
              </button>
            </div>
          </div>
          <!-- END FILTER -->
          <!-- BEGIN CONTENT -->
          <br />
          <kendo-grid
            [data]="gridDataLecture"
            [pageable]="{
              buttonCount: 20,
              info: true,
              type: 'numeric',
              pageSizes: [2, 5, 10, 20, 50],
              previousNext: true
            }"
            [height]="320"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            [sortable]="true"
            [groupable]="false"
            [filterable]="false"
            [navigable]="true"
            (pageChange)="pageChange($event)"
          >
            >
            <kendo-grid-column field="id" title="" width="40">
              <ng-template kendoGridCellTemplate let-dataItem>
                <mat-checkbox
                  *ngIf="dataItem.id === currentLectureId; else noLecture"
                  (change)="onToggleChooseLecture($event, dataItem.id)"
                  checked="true"
                ></mat-checkbox>
                <ng-template #noLecture>
                  <mat-checkbox
                    (change)="onToggleChooseLecture($event, dataItem.id)"
                  ></mat-checkbox>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="name" title="Tên giảng viên" width="120">
            </kendo-grid-column>
            <kendo-grid-column field="email" title="E-mail" width="120">
            </kendo-grid-column>
            <kendo-grid-column field="major" title="Chuyên ngành" width="120">
            </kendo-grid-column>
          </kendo-grid>
        </ng-template>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
