<nav
  class="sidebar"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <div class="list-group">
    <a
      routerLink="/dashboard"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>{{ "Dashboard" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/nguoi-dung']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>{{ "Quản lý người dùng" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/quyen-nguoi-dung']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-table"></i>&nbsp;
      <span>{{ "Quản lý nhóm quyền " }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/loai-khoa-hoc']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-files-o"></i>&nbsp;
      <span>{{ "Quản lý loại khóa học" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/khoa-hoc']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-edit"></i>&nbsp;
      <span>{{ "Quản lý khóa học" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/lop-hoc']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-desktop"></i>&nbsp;
      <span>{{ "Quản lý lớp học" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/loai-nhan-vien']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-wrench"></i>&nbsp;
      <span>{{ "Quản lý loại nhân viên" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/nhan-vien']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-th-list"></i>&nbsp;
      <span>{{ "Quản lý nhân viên" }}</span>
    </a>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <i class="fa fa-plus"></i>&nbsp;
        <span>{{ "Quản lý học viên" }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a
              href="javascript:void(0)"
              [routerLink]="['/quan-ly/hoc-vien']"
              [routerLinkActive]="['router-link-active']"
              class="list-group-item"
            >
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ "Danh sách học viên" }}</span>
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              [routerLink]="['/quan-ly/hoc-vien/them-moi']"
              [routerLinkActive]="['router-link-active']"
              class="list-group-item"
            >
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ "Thêm mới học viên" }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <i class="fa fa-plus"></i>&nbsp;
        <span>{{ "Quản lý hợp đồng" }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a
              href="javascript:void(0)"
              [routerLink]="['/quan-ly/hop-dong/dieu-khoan']"
              [routerLinkActive]="['router-link-active']"
              class="list-group-item"
            >
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ "Danh sách điều khoản" }}</span>
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              [routerLink]="['/quan-ly/hop-dong/loai-hop-dong']"
              [routerLinkActive]="['router-link-active']"
              class="list-group-item"
            >
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ "Danh sách loại hợp đồng" }}</span>
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              [routerLink]="['/quan-ly/hop-dong/hop-dong-nhan-vien']"
              [routerLinkActive]="['router-link-active']"
              class="list-group-item"
            >
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ "Hợp đồng nhân viên" }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <a
      [routerLink]="['/quan-ly/cau-hinh-he-thong/permission']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-files-o"></i>&nbsp;
      <span>{{ "Cấu hình hệ thống" }}</span>
    </a>
    <a
      [routerLink]="['/quan-ly/templates']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-files-o"></i>&nbsp;
      <span>{{ "Quản lý templates" }}</span>
    </a>
  </div>
  <div
    class="toggle-button"
    [ngClass]="{ collapsed: collapsed }"
    (click)="toggleCollapsed()"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span>{{ "Collapse Sidebar" }}</span>
  </div>
</nav>
