<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Loại khóa học"
          subLinkTitle="Quản lý"
          subLinkHref="#"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- BRGIN FILTER -->
        <div class="row">
          <div class="col-md-6">
            <input
              pInputText
              [(ngModel)]="searchText"
              placeholder="Nhập từ khóa cần tìm ..."
              style="width: 100%"
            />
          </div>
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <!-- END FILTER -->
        <!-- BEGIN CONTENT -->
        <br />
        <kendo-grid
          id='grid'
          [data]="gridData"
          [pageable]="{
            buttonCount: 20,
            info: true,
            type: 'numeric',
            pageSizes: [2, 5, 10, 20, 50],
            previousNext: true
          }"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
          (pageChange)="pageChange($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <app-table-toolbar
              addEditCourseCat="true"
              (emitAfterCreateRecord)="getDataAfterCreate($event)"
              buttonSave = false
              buttonUpload = false
              buttonDowload = false
              buttonCancel = false
            ></app-table-toolbar>
          </ng-template>
          >
          <kendo-grid-column field="id" title="" width="120">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <button
                  class="btn btn-warning btn-sm"
                  (click)="showPopupEditCourseCat(dataItem.id)"
                  pTooltip="Chi tiết/Cập nhật" tooltipPosition="top"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="deleteCourseCat(dataItem.id)"
                  pTooltip="Xóa" tooltipPosition="top"
                >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="name"
            title="Tên loại khóa học"
            width="180"
          >
          </kendo-grid-column>
          <kendo-grid-column field="status" title="Trạng thái" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="dataItem.status === false; else statusTrue"
                >Ngưng hoạt động</ng-container
              >
              <ng-template #statusTrue>
                Hoạt động
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdDate" title="Ngày tạo" width="180">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdBy" title="Người tạo" width="150">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updateDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
            width="150"
          >
          </kendo-grid-column>
          
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>

        <!-- END CONTENT -->
      </div>
    </div>
  </div>
</block-ui>
