<div class="container-content">
  <div class="container-info">
    <form
      class="form-horizontal"
      method="POST"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

        <div class="row-fluid">
          <div
            class="col-md-12" style="padding-bottom: 10px;"
          >
            <label class="control-label col-md-3"
            >Loại hợp đồng <span style="color: red;">*</span></label
            >
            <div class="col-md-9">
              <input
                [(ngModel)]="contractType.name"
                name="title"
                #title="ngModel"
                type="text"
                style="width: 100%"
                pInputText
                placeholder="Tên loại hợp đồng"
                [ngClass]="{
                  'is-invalid': f.submitted && title.invalid
                }"
                required
              />
              <div
                *ngIf="f.submitted && title.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="title.errors.required" style="color:red;">
                  (*) Tên loại hợp đồng là bắt buộc.
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-12" style="padding-bottom: 10px;">
            <label class="control-label col-md-3"
            >Ký hiệu <span style="color: red;">*</span></label
            >
            <div class="col-md-9">
              <input
                [(ngModel)]="contractType.sign"
                name="sign"
                #sign="ngModel"
                type="text"
                style="width: 100%"
                pInputText
                placeholder="Ký hiệu"
                [ngClass]="{
                'is-invalid': f.submitted && sign.invalid
              }"
                required
              />
              <div
                *ngIf="f.submitted && sign.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="sign.errors.required" style="color:red;">
                  (*) Ký hiệu.
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="col-md-12" style="padding-bottom: 10px;">
            <label class="control-label col-md-3"
            >Trạng thái </label
            >
            <div class="col-md-9">
              <p-dropdown [style]="{'width': '100%'}" [options]="pStatus" [placeholder]="'Chọn trạng thái'" [(ngModel)]="contractType.status" name="status"></p-dropdown>
            </div>
          </div>
          <br>
          <div class="form-actions modal-footer" style="padding-bottom: 15px !important;">
            <div class="row-fluid">
              <div style="text-align: center">
                <button type="submit" class="btn green">Submit</button>
                <button type="button" class="btn default" (click)="closePopup()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
