<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Danh sách người dùng"
          subLinkTitle="Quản lý"
          subLinkHref="#"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- BRGIN FILTER -->
        <div class="row">
          <div class="col-md-6">
            <input
              id="txtFilter"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
              pInputText
              style="width: 100%"

            />
          </div>
          
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <!-- END FILTER -->
        <!-- BEGIN CONTENT -->
        <br />

        <kendo-grid
          id='grid'
          [data]="gridData"
          [pageable]="{
            buttonCount: 20,
            info: true,
            type: 'numeric',
            pageSizes: [2, 10, 50],
            previousNext: true
          }"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
          (pageChange)="pageChange($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <app-table-toolbar addEditUser="true" (emitAfterCreateRecord)='getDataAfterCreate($event)'
            buttonSave = false
              buttonCancel = false
              buttonDowload = false
            ></app-table-toolbar>
          </ng-template>
          >
          <kendo-grid-column field="id" title="" width="150" [locked]='true'>
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                  <a
                  type="button"
                  class="btn btn-info btn-sm"
                  [routerLink]="['/quan-ly/quyen-nguoi-dung/phan-quyen/', dataItem.id]"
                >
                  <i class="fa fa-sitemap" aria-hidden="true"></i>
                </a>
                <button
                  class="btn btn-warning btn-sm"
                  (click)="showEditUserPopup(dataItem.id)"
                  pTooltip="Chi tiết/Cập nhật" tooltipPosition="top"

                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="deleteRole(dataItem.id)"
                    pTooltip="Xóa" tooltipPosition="top"

                >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="employee.code" title="Mã nhân viên" width="100" [locked]='true'>
          </kendo-grid-column>
          <kendo-grid-column field="username" title="Tên đăng nhập" width="120" [locked]='true'>
          </kendo-grid-column>
          <kendo-grid-column field="employee.name" title="Tên nhân viên" width="150" [locked]='true'>
          </kendo-grid-column>
          <kendo-grid-column field="employee.major" title="Chuyên ngành" width="120">
          </kendo-grid-column>
          <kendo-grid-column field="employee.employeeType.typeName" title="Loại nhân viên" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="status" title="Trạng thái" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="dataItem.status === false; else statusTrue"
                >Ngưng hoạt động</ng-container
              >
              <ng-template #statusTrue>
                Hoạt động
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdDate" title="Ngày tạo" width="180">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdBy" title="Người tạo" width="120">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updateDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
            width="120"
          >
          </kendo-grid-column>
          
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>

        <!-- END CONTENT -->
      </div>
    </div>
  </div>
</block-ui>
