<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Chi tiết lớp học"
          subLinkTitle="Quản lý,Lớp học"
          subLinkHref="#,#"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- BRGIN FILTER -->
        <p-tabView id='p-tabview'>
          <p-tabPanel header="Thông tin" leftIcon="fa fa-info-circle">
            <div class="row">
              <div class="col-md-6">
                <h3><strong>Thông tin giảng viên</strong></h3>
                <br />
                <div class="row col-md-12">
                  <div class="col-md-4">
                    <div class="thumbnail" style="width: 200px; height: 150px;">
                      <img
                        *ngIf="
                          lecture.image && lecture.image.imgPath;
                          else NoImage
                        "
                        [src]="lecture.image.imgPath"
                        alt=""
                        style="width: 100%; height: 100%;"
                      />
                      <ng-template #NoImage
                        ><img
                          src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                          alt=""
                          style="width: 100%; height: 100%;"
                      /></ng-template>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding-left: 70px;">
                    <br />
                    <p><strong>Tên giảng viên : </strong>{{ lecture.name }}</p>
                    <p><strong>E-mail : </strong>{{ lecture.email }}</p>
                    <p>
                      <strong>Điện thoại : </strong>{{ lecture.phoneNumber }}
                    </p>
                    <p><strong>Chuyên ngành : </strong>{{ lecture.major }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h3>
                  <strong>Thông tin lớp học</strong>
                </h3>
                <br />
                <p>
                  <strong>Khóa học : {{ class.course.name }}</strong>
                </p>
                <p>
                  <i class="fa fa-address-card-o" aria-hidden="true"></i
                  ><strong> Tên lớp học : </strong>{{ class.name }}
                </p>
                <p>
                  <i class="fa fa-window-restore" aria-hidden="true"></i>
                  <strong> Phòng học : </strong>{{ class.room }}
                </p>
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <strong> Giờ học : </strong>
                </p>
                <p>
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <strong> Tổng số học viên : </strong>{{ class.noStudent }} học
                  viên
                </p>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Danh sách học viên" leftIcon="fa fa-server">
            <ng-template pTemplate="content">
              <app-students-list-in-class [classId]='classId'></app-students-list-in-class>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Điểm lớp học" leftIcon="fa fa-bookmark">
            <ng-template pTemplate="content">
              <app-mark-class-student [classId]="classId"></app-mark-class-student>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</block-ui>
