<div class="container-content">
  <div class="container-info">
    <form
      class="form-horizontal"
      method="POST"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="row-fluid">
        <div class="form-group">
          <label class="col-md-4"
            >Tên loại nhân viên <span style="color: red;">*</span></label
          >
          <div class="col-md-8">
            <input
              [(ngModel)]="empType.typeName"
              name="typeName"
              #typeName="ngModel"
              type="text"
              pInputText
              placeholder="Nhập tên loại"
              [ngClass]="{
                'is-invalid': f.submitted && typeName.invalid
              }"
              required
            />
            <div
              *ngIf="f.submitted && typeName.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="typeName.errors.required" style="color:red;">
                (*) Tên loại nhân viên là bắt buộc.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Mô tả </label>
          <div class="col-md-8">
            <input
              [(ngModel)]="empType.description"
              name="description"
              type="text"
              pInputText
              placeholder="Nhập mô tả"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Trạng thái</label>
          <div class="col-md-8">
            <mat-slide-toggle
              [(ngModel)]="empType.status"
              name="status"
            ></mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="form-actions modal-footer" style="padding-bottom: 15px !important;">
        <div class="row">
          <div style="text-align: center">
            <button type="submit" class="btn green btn-sm">Submit</button>
            <button type="button" class="btn default btn-sm" (click)="closePopup()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
