@import "../../../assets/common/css/custom.css";


.title-info {
  margin-top:-5px !important;
}

.container-content {
  padding: 5px 20px 0 10px;
}

.form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input {
  width: 66% !important;
}

