<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <app-page-breadcrumb
        activePage="Khóa học"
        subLinkTitle="Trang chủ"
        subLinkHref="/trang-chu"
      ></app-page-breadcrumb>
    </div>
  </div>

  <div class="row-fluid">
    <div class="container" style="padding: 0">
      <div class="col-md-12" style="padding: 0">
        <img
          *ngIf="course.imgPath && course.imgPath.length > 0; else noImage"
          [src]="course.imgPath"
          alt="Hình ảnh khóa học"
          style="width: 100%; height: 600px;"
        />
        <ng-template #noImage>
          <img
            src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
            alt=""
            style="width: 100%; height: 400px;"
          />
        </ng-template>

        <div class="bottom-right">
          <span class="course-value">{{ course.costValue }}</span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="course-features-info">
          <h3 class="desc-title">CÁC LỚP HỌC THUỘC KHÓA HỌC</h3>
        </div>
        <div>
          <ul class="ul-infos">
            <li *ngFor="let item of classes; let i=index">
              <a class="class-in-course" [routerLink]="['/khoa-hoc/lop-hoc', item.id]">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />

  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>
</div>
