@import "../../../assets/common/css/custom.css";

.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

input, textarea {
    width: 100% !important;
}

textarea {
    resize: none;
    outline: none;
    padding: 5px;
}
