.page-content-wrapper{
  margin-top: 46px;
}

.page-content-wrapper .page-content {
  padding-top: 10px !important;
}

@media only screen and (max-width: 992px) {
  .page-content-wrapper{
    margin-top: 0px !important;
  }
}

.col-action-date, .col-action-by {
  width: 10% !important;
}

.col-description {
  width: 25% !important;
}

th, td.mat-checkbox, td {
  text-align: center;
}

::ng-deep .pi-times {
  color: white !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(64, 186, 235);
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: skyblue;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}

:host ::ng-deep .ck-editor__editable {
  min-height: 300px;
}
