<div class="table-toolbar">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <button *ngIf="buttonAdd===true"
          class="btn btn-success btn-sm"
          (click)="onShowCreatedRecord()"
        >
          Thêm <i class="fa fa-plus"></i>
        </button>
        <button *ngIf="buttonSave === true"
          class="btn btn-sm" style="background-color: dodgerblue"
        >
          Lưu <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
        <label class="btn btn-info btn-sm" id="btn-import-excel" style="margin-bottom: 0 !important" *ngIf="buttonUpload === true">
          <input
            type="file"
            accept=".xls,.xlsx"
            (change)="onChangeExcel($event)"
            style="display: none"
          />
          upload <i class="fa fa-upload" aria-hidden="true"></i>
        </label>
        <button class="btn btn-light btn-sm" *ngIf="buttonDowload === true">
          Download <i class="fa fa-download" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary btn-sm" *ngIf="buttonCancel === true">
          Hủy <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>