<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <app-page-breadcrumb
        activePage='Chương trình đào tạo'
        subLinkTitle='Trang chủ'
        subLinkHref='/trang-chu'
      ></app-page-breadcrumb>
    </div>
  </div>

  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="../../../assets/common/img/educations/about (1).jpg"
          alt="csvc-newstar-3"
          srcset=""
        />
      </div>
      <div class="col-md-6">
        <h2><strong>CÁC KHÓA HỌC CHUYÊN SÂU VỀ QUẢN TRỊ HẠ TẦNG MẠNG & QUẢN TRỊ HỆ THỐNG CNTT</strong></h2>
        <br />
        <p><strong>Trong đó, các chương trình đào tạo theo chuẩn quốc tế.</strong></p>
        <p>Đào tạo các khóa học theo hệ thống chứng chỉ nghề nghiệp chuyên môn cao của </p>
        <p>CICSO: CCNA, CCNP, CCIE;</p>
        <p>Các khóa học theo chứng chỉ MICROSOFT: MCSA, MCSE;</p>
        <p>Các khóa học Quản trị trên hệ thống Linux: LPIC-1, LPIC-2</p>
        <p><strong>Các chương trình và khóa học này đã và đang là các chương trình đào tạo mạnh nhất
        tạo nên thương hiệu của Newstar trên thị trường nhân lực CNTT.</strong></p>
      </div>
    </div>
  </div>
  <br />
  <div class="clearfix"></div>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <h2><strong>CÁC KHÓA HỌC VỀ LĨNH VỰC CÔNG NGHỆ PHẦN MỀM</strong></h2>
        <br />
        <p><strong>Các khóa học về:</strong></p>
        <p>Chuyên về Lập trình Web</p>
        <p>Phát triển ứng dụng trên thiết bị di động</p>
        <p>Automation Testing</p>
        <p><strong>Dựa trên các nền tảng công nghệ mới đang được triển khai và phát triển.</strong></p>
      </div>
      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="../../../assets/common/img/educations/about (1).png"
          alt="csvc-newstar-3"
          srcset=""
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="../../../assets/common/img/educations/about (2).jpg"
          alt="csvc-newstar-3"
          srcset=""
        />
      </div>
      <div class="col-md-6">
        <h2><strong>CÁC KHÓA HỌC PRE-WORK</strong></h2>
        <br />
        <p><strong>Cung cấp các kỹ năng và kiến thức cho học viên đáp ứng theo các vị trí tuyển dụng của doanh nghiệp.</strong></p>
      </div>
    </div>
  </div>
  <br>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <p><strong>Ngoài ra, các khóa học theo đặt hàng của doanh nghiệp và đào tạo chuyển giao cũng là một thế mạnh của NewStar trong gần 10 năm qua.</strong></p>
      <p>Đào tạo cho Metfone (Cambodia), VNPT,…</p>
      <p>Các chương trình đào tạo outsourcing từ các doanh nghiệp lớn tại Việt Nam.</p>
      <p>Đào tạo cho nhân lực IT sở thông tin và truyền thông Bình Thuận, Bình Dương, Bình Phước, Đồng Nai…</p>
    </div>
  </div>
  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>

</div>
