 <!-- BEGIN PRE-FOOTER -->
 <div class="pre-footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Chúng tôi có các khóa học về :</h2>
        <ul class="list-unstyled">
          <li><p href="#"><i class="fa fa-book"></i> Quản trị hạ tầng mạng</p></li>
          <li><p href="#"><i class="fa fa-book"></i> Quản trị hệ thống</p></li>
          <li><p href="#"><i class="fa fa-book"></i> Lập trình</p></li>
          <li><p href="#"><i class="fa fa-book"></i> An toàn thông tin</p></li>
        </ul>
        <p>theo phương pháp Blended Learning.</p>
      </div>
      <!-- END BOTTOM ABOUT BLOCK -->
      <!-- BEGIN BOTTOM INFO BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Information</h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-angle-right"></i> <a href="#">Delivery Information</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Customer Service</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Order Tracking</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Shipping &amp; Returns</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Contact Us</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Careers</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Payment Methods</a></li>
        </ul>
      </div>
      <!-- END INFO BLOCK -->

      <!-- BEGIN TWITTER BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Liên kết</h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-angle-right"></i> <a href="#">Về chúng tối</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Khóa học</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Lịch khai giảng</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Lộ trình học</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Tin tức</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Tin tuyển dụng</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="#">Blog tuyển dụng</a></li>
        </ul>
      </div>
      <!-- END TWITTER BLOCK -->

      <!-- BEGIN BOTTOM CONTACTS -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Thông tin liên hệ</h2>
        <address class="margin-bottom-40">
          Cơ sở 1: 240 Võ Văn Ngân, P. Bình Thọ, Thủ Đức, TPHCM (Cổng vào đường Bác Ái) <br>
          Cơ sở 2: 11 Nguyễn Đình Chiểu, P. ĐaKao, Quận 1, TP.HCM <br>
          Điện thoại: 028 3722 5858 | 0962 090 270<br>
          E-mail: <a href="mailto:info@metronic.com">info@newstar.vn</a><br>
        </address>
      </div>
      <!-- END BOTTOM CONTACTS -->
    </div>
    <hr>
    <div class="row">
      <!-- BEGIN SOCIAL ICONS -->
      <div class="col-md-6 col-sm-6">
        <ul class="social-icons">
          <li><a class="facebook" target="_blank" data-original-title="facebook" href="https://www.facebook.com/newstartrainingcenter"></a></li>
          <li><a class="instagram" target="_blank" data-original-title="instagram" href="https://www.instagram.com/newstartrainingcenter"></a></li>
          <li><a class="youtube" target="_blank" data-original-title="youtube" href="https://www.youtube.com/channel/UCecuEXIDRd_M3xsOv8UgOYA"></a></li>
        </ul>
      </div>
      <!-- END SOCIAL ICONS -->
      <!-- BEGIN NEWLETTER -->
      <div class="col-md-6 col-sm-6">
        <div class="pre-footer-subscribe-box pull-right">
          <h2>Đăng ký nhận tin mới từ Newstar</h2>
          <form action="#">
            <div class="input-group">
              <input type="text" placeholder="Nhập địa chỉ e-mail" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Đăng ký</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <!-- END NEWLETTER -->
    </div>
  </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-6 col-sm-6 padding-top-10">
        2018 © Newstar Training Center. ALL Rights Reserved.
      </div>
      <!-- END COPYRIGHT -->
      <!-- BEGIN PAYMENTS -->
      
      <!-- END PAYMENTS -->
    </div>
  </div>
</div>
<!-- END FOOTER -->