@import "~bootstrap/dist/css/bootstrap.min.css";

.badge-new {
  background-color: #008000;
  color: #008000;
}

.badge-in-progress {
  background-color: #F5222D;
  color: #F5222D;
}

.badge-end {
  background-color: black;
  color: black;
}