<!-- list button event select view type -->
<div class="row text-center">
  <div class="col-md-4 position-left">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        (click)="clickNextPrevious(viewDate, false, view)"
      >
        Về trước
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Hôm nay
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        (click)="clickNextPrevious(viewDate, true, view)"
      >
        Tiếp theo
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | date: 'dd/MM/yyyy' }}</h3>
  </div>
  <div class="col-md-4 position-right">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Tháng
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Tuần
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Ngày
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <!-- view mode type month -->
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
<!--  view mode week-->
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
<!--  view mode date-->
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
<br>
<div class="row" *ngIf="showExplain === true">
  <div class="col-md-12">
    <p><strong>Ghi chú</strong></p>
  </div>
  <div class="col-md-12">
      <span class="badge badge-new">NOTEXT</span>
      <span style="padding-right: 10px;"> Được mở</span>
      <span class="badge badge-end">NOTEXT</span>
      <span style="padding-right: 10px;"> Kết thúc</span>
  </div>
</div>
<br>
