
<!-- Footer -->
<div class="page-footer" style="background-color: #364150;">
	<div class="page-footer-inner">
		 2018 © Đại học Sư phạm Kỹ thuật thành phố Hồ Chí Minh.
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- End Footer-->