/* #no-button{
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color:white;
  border-radius: 0px;
} */

#yes-button{
    color: rgb(247,249,250);
    margin-right: 10px;
  }
  
  button, button:focus {
    border: none;
    outline: none;
  }
  
  #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
  }
  
  #close-icon:hover{
    cursor: pointer;
  }
  
  .content-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }
  
  .mat-flat-button {
    border: none
  }
  
  mat-dialog-content {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    margin: 0 !important;
  }
  
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    margin-bottom: 0 !important;
  }