<div class="corporate" style="background-color: #fff !important">
    <app-header-client></app-header-client>
  
    <div class="row-fluid">
      <div class="container">
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li>
              <i class="fa fa-home"></i> <a href="/trang-chu">Trang chủ</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#">Đội ngũ tư vấn</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row-fluid sec-insfrastructure">
      <div class="container">
        <div class="col-md-6">
          <h2><strong>ĐỘI NGŨ TƯ VẤN NEWSTAR</strong></h2>
          <br>
          <p>Đến với <span style="color: red"><strong>NewStar</strong></span>, dù là đến trực tiếp trung tâm, trực tuyến hay qua điện thoại, bạn sẽ dễ dàng nhận thấy sự nhiệt tình, tận tâm của đội ngũ tư vấn chúng tôi trong việc mang đến những thông tin hữu ích nhất cho học viên.</p>
          <br>
          <p>Với phương châm <strong>“Mỗi khách hàng là một người bạn”</strong>, đội ngũ tư vấn viên luôn quan tâm tới nhu cầu, tới tâm tư, nguyện vọng của bạn, để hỗ trợ tốt nhất và giúp bạn tìm được cho mình khóa học phù hợp cũng như có định hướng tốt nhất cho tương lai của mình.</p>
        </div>
        <div class="col-md-6">
          <h2><strong><i class="fa fa-heart" style="font-size: 27px; color: red;"></i> GIÁ TRỊ</strong></h2>
          <p><span style="color: red"><strong>NewStar</strong></span> luôn mong muốn mang lại giá trị thiết thực cho học viên.</p>
          <br>
          <h2><strong><i class="fa fa-user" style="font-size: 27px; color: red;"></i> CHẤT LƯỢNG</strong></h2>
          <p>Trung tâm đào tạo <span style="color: red"><strong>NewStar</strong></span> tự hào với đội ngũ tư vấn trẻ trung, năng động và chuyên nghiệp.</p>
          <br />
          <h2><strong><i class="fa fa-thumbs-up" style="font-size: 27px; color: red;"></i> HÌNH ẢNH</strong></h2>
          <p>Chúng tôi luôn nỗ lực để xây dựng hình ảnh <span style="color: red"><strong>NewStar</strong></span> nói chung và đội ngũ tư vấn nói riêng ngày càng thân thiện và chuyên nghiệp hơn.</p>
        </div>
      </div>
    </div>
  
    <div class="row-fluid sec-insfrastructure">
      <div class="container">
  
        <div *ngFor="let staff of staffs" class="col-md-4">
          <div class="card">
          <div class="container-overlay">
            <div class="course-img">
              <img
                src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
                alt="Jane"
                style="width:100%"
              />
            </div>
            <div class="overlay">
              <div class="text form-group">
                <a class="btn btn-info" href="#"
                  ><i class="fa fa-info" aria-hidden="true"></i> chi tiết</a
                >
              </div>
            </div>
          </div>
  
          <div class="container-info">
            <h3 style="text-align: center">{{staff.name}}</h3>
          </div>
        </div>
        </div>
      </div>
    </div>
    <br>
    
    <app-footer-client></app-footer-client>
    <app-popup-chat></app-popup-chat>
    <app-popup-social></app-popup-social>
    <app-scroll-to-top></app-scroll-to-top>
  </div>