.container-message {
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  font-size: 13px !important;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-message::after {
  content: "";
  clear: both;
  display: table;
}

.container-message img {
  float: left;
  max-width: 40px;
  width: 40%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
  font-size: 10px !important;
}

.time-left {
  float: left;
  color: #999;
  font-size: 10px !important;
}
