<div class="container-message darker">
  <img src="../../../../assets/admin/layout/img/avatar1.jpg" alt="Avatar" class="right">
  <p>{{ message }}</p>
  <span class="time-left">{{ date }}</span>
</div>