<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <app-page-breadcrumb
        activePage='Các khóa học'
        subLinkTitle='Trang chủ'
        subLinkHref='/trang-chu'
      ></app-page-breadcrumb>
    </div>
  </div>

  <div class="row-fluid ">
    <div class="container">
      <div
        class="col-md-4 column"
        *ngFor="let item of courses; let i = index"
      >
        <div class="card container-overlay">
          <div class="course-img">
            <img
              *ngIf="item.imgPath && item.imgPath.length > 0; else noImgCourse"
              [src]="item.imgPath"
              alt="Jane"
              style="width:100%"
            />
            <ng-template #noImgCourse>
              <img
                src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
                alt="Jane"
                style="width:100%"
              />
            </ng-template>

            <div class="bottom-right" style="bottom: 53px !important;">
              <span class="course-value">{{ item.costValue }}</span>
            </div>
          </div>
          <div class="container-info">
            <p class="title">{{ item.courseCategory.name }}</p>
            <h2>{{ item.name }}</h2>
            <p>{{ item.content }}</p>
          </div>
          <div class="overlay">
            <div class="text form-group">
              <a class="btn btn-info" [routerLink]='["/khoa-hoc", item.id]'
                ><i class="fa fa-info" aria-hidden="true"></i> chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  
  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>

</div>
