<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #364150">
    <div class="page-content" style="min-height: 710px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Chi tiết"
          subLinkTitle="Quản lý,Templates"
          subLinkHref="#,/quan-ly/templates"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <div class="container-content">
          <div class="container-info">
            <form
              class="form-horizontal"
              method="POST"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="row">
                <div
                  class="form-group col-md-12 col-lg-12 col-xs-12"
                  style="margin-left: 0"
                >
                  <label class="control-label col-md-2"
                    >Tên template <span style="color: red;">*</span></label
                  >
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="template.name"
                      name="name"
                      #name="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="admin, E.g"
                      [ngClass]="{
                        'is-invalid': f.submitted && name.invalid
                      }"
                      required
                    />
                    <div
                      *ngIf="f.submitted && name.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="name.errors.required" style="color:red;">
                        (*) Tên template là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="form-group col-md-12 col-lg-12 col-xs-12"
                  style="margin-left: 0"
                >
                  <label class="control-label col-md-2"
                    >Tiêu đề <span style="color: red;">*</span></label
                  >
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <input
                      [(ngModel)]="template.title"
                      name="title"
                      #title="ngModel"
                      type="text"
                      class="form-control text-action"
                      placeholder="admin, E.g"
                      [ngClass]="{
                        'is-invalid': f.submitted && title.invalid
                      }"
                      required
                    />
                    <div
                      *ngIf="f.submitted && title.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="title.errors.required" style="color:red;">
                        (*) Tiêu đề template là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="form-group col-md-12 col-lg-12 col-xs-12"
                  style="margin-left: 0"
                >
                  <label class="control-label col-md-2">Trạng thái</label>
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <mat-slide-toggle
                      [(ngModel)]="template.status"
                      name="status"
                      #status="ngModel"
                    ></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="form-group col-md-12 col-lg-12 col-xs-12"
                  style="margin-left: 0"
                >
                  <label class="control-label col-md-2"
                    >Loại template <span style="color: red;">*</span></label
                  >
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <select
                      class="form-control"
                      name="type"
                      [(ngModel)]="template.type"
                    >
                      <option value="1">E-mail template</option>
                      <option value="2">Sms template</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="form-group col-md-12 col-lg-12 col-xs-12"
                  style="margin-left: 0"
                >
                  <label class="control-label col-md-2"
                    >Nội dung template <span style="color: red;">*</span></label
                  >
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <ckeditor
                      [(ngModel)]="template.content"
                      name="content"
                      #content="ngModel"
                      [editor]="Editor"
                    ></ckeditor>

                    <div
                      *ngIf="f.submitted && content.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="content.errors.required" style="color:red;">
                        (*) Nội dung template là bắt buộc.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="form-group col-md-12 col-lg-12 col-xs-12"
                  style="margin-left: 0"
                >
                  <label class="control-label col-md-2">Mô tả template</label>
                  <div class="col-md-10" style="padding-right: 0px !important">
                    <textarea
                      name="description"
                      id="description"
                      class="text-action"
                      rows="6"
                      [(ngModel)]="template.description"
                      #description="ngModel"
                      placeholder="Thêm mô tả về template ..."
                    ></textarea>
                  </div>
                </div>
              </div>
              <div
                class="form-actions"
                style="padding-bottom: 15px !important;"
              >
                <div class="row">
                  <div style="text-align: center">
                    <button type="submit" class="btn green">
                      Submit
                    </button>
                    <button type="button" class="btn default">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</block-ui>
