.course-img {
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px;
  height: 350px;
}

.course-value {
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.title {
  font-size: 20px;
  color: grey;
}

.desc-title {
  font-weight: bold;
}

.sidebar-area .course-features-info {
  margin-bottom: 20px;
  background: #212121;
  padding: 15px;
  color: #fff;
}

.sidebar-area .cate-box {
  margin-bottom: 45px;
}

.sidebar-area .course-features-info .desc-title {
  color: #ff3115;
  margin: 10px 0 8px;
}

.sidebar-area .course-features-info ul li .label {
  font-size: 16px;
  font-weight: bold;
}

.sidebar-area .course-features-info ul li .value {
  float: right;
  padding-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.sidebar-area .course-features-info ul li {
  border-bottom: 1px solid #d3d0d68c;
  padding: 10px 0 10px 0;
}

.ul-infos {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.fa {
  color: #ff3115;
}

/* tabs */
/* .ui-tabview-nav .ui-tabview-selected .ui-state-active {
  background-color: #ff3115 !important;
} */

.course-meta-style {
  list-style: outside none none;
  margin: 0;
  padding: 10px 0;
  display: inline-flex;
}
