<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <app-page-breadcrumb
        activePage="Lớp học"
        subLinkTitle="Trang chủ,Khóa học"
        subLinkHref="/trang-chu,#"
      ></app-page-breadcrumb>
    </div>
  </div>

  <div class="row-fluid">
    <div class="container" style="padding: 0">
      <div class="col-md-12" style="padding: 0">
        <div class="col-md-8">
          <div class="col-md-12">
            <p-tabView>
              <p-tabPanel header="Mô tả khóa học" leftIcon="fa fa-list-alt">
                {{ class.course.description }}
              </p-tabPanel>
              <p-tabPanel header="Nội dung khóa học" leftIcon="fa fa-list">
                <ng-template pTemplate="content">
                  {{ class.course.content }}
                </ng-template>
              </p-tabPanel>
              <p-tabPanel
                header="Thông tin giảng viên"
                leftIcon="fa fa-info-circle"
              >
                <ng-template pTemplate="content">
                  <div class="row">
                    <div
                      class="thumbnail"
                      style="padding-left: 10px; width: 200px; height: 150px;"
                    >
                      <img
                        *ngIf="lecture && lecture.imgPath; else NoImage"
                        [src]="lecture.imgPath"
                        alt=""
                      />
                      <ng-template #NoImage
                        ><img
                          src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                          alt=""
                      /></ng-template>
                    </div>
                  </div>
                  <div class="row">
                    {{lecture.description}}
                  </div>
                </ng-template>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-area">
            <div class="course-features-info">
              <h3 class="desc-title">TỔNG QUAN KHÓA HỌC</h3>
              <ul class="ul-infos">
                <li>
                  <i class="fa fa-files-o"></i>
                  <span class="label">Giảng viên</span>
                  <span class="value">{{ lecture.name }}</span>
                </li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  <span class="label">Ngày mở lớp</span>
                  <span class="value">{{
                    class.openDate | date: "dd/MM/yyyy hh:mm"
                  }}</span>
                </li>
                <li>
                  <i class="fa fa-clock-o"></i>
                  <span class="label">Ngày kết thúc lớp</span>
                  <span class="value">{{
                    class.endDate | date: "dd/MM/yyyy hh:mm"
                  }}</span>
                </li>
                <li>
                  <i class="fa fa-level-up"></i>
                  <span class="label">Phòng học</span>
                  <span class="value">{{ class.room }}</span>
                </li>
                <li>
                  <i class="fa fa-language"></i>
                  <span class="label">Ngôn ngữ</span>
                  <span class="value">Tiếng Việt</span>
                </li>
                <li>
                  <i class="fa fa-users"></i>
                  <span class="label">Ngôn ngữ lập trình</span>
                  <span class="value"></span>
                </li>
                <li>
                  <i class="fa fa-check-square-o"></i>
                  <span class="label">Tài liệu điện tử</span>
                  <span class="value">lms.newstar.vn</span>
                </li>
              </ul>
            </div>
            <div class="cate-box">
              <h3 class="title">CÁC KHÓA HỌC KHÁC</h3>
              <ul>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a href="/khoa-hoc/chuong-trinh-khoa-hoc/1">
                    Đào tạo ngắn hạn <span>(30)</span>
                  </a>
                </li>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a href="/khoa-hoc/chuong-trinh-khoa-hoc/2">
                    Đào tạo dài hạn <span>(6)</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="latest-courses">
              <h3 class="title">Khóa học mới nhất</h3>
              <div class="post-item">
                <div class="post-img">
                  <a href="/khoa-hoc/chi-tiet/10043">
                    <img alt="" title="Python 1 - Lập trình Python cơ bản" />
                  </a>
                </div>
                <div class="post-desc">
                  <h4>
                    <a href="/khoa-hoc/chi-tiet/10043"
                      >Python 1 - Lập trình Python cơ bản</a
                    >
                  </h4>
                  <span class="price ml-0 "
                    >Học phí: <span>2.000.000đ</span></span
                  >
                </div>
              </div>
              <div class="post-item">
                <div class="post-img">
                  <a href="/khoa-hoc/chi-tiet/10044">
                    <img alt="" title="Python 2 - Lập trình Python nâng cao" />
                  </a>
                </div>
                <div class="post-desc">
                  <h4>
                    <a href="/khoa-hoc/chi-tiet/10044"
                      >Python 2 - Lập trình Python nâng cao</a
                    >
                  </h4>
                  <span class="price ml-0 "
                    >Học phí: <span>2.500.000đ</span></span
                  >
                </div>
              </div>
              <div class="post-item">
                <div class="post-img">
                  <a href="/khoa-hoc/chi-tiet/10045">
                    <img alt="" title="Python 3 - Xử lý ngôn ngữ tự nhiên" />
                  </a>
                </div>
                <div class="post-desc">
                  <h4>
                    <a href="/khoa-hoc/chi-tiet/10045"
                      >Python 3 - Xử lý ngôn ngữ tự nhiên</a
                    >
                  </h4>
                  <span class="price ml-0 "
                    >Học phí: <span>2.500.000đ</span></span
                  >
                </div>
              </div>
            </div>
            <div class="tags-cloud clearfix">
              <h3 class="title">Thẻ</h3>
              <ul></ul>
            </div>
            <div class="tags-cloud clearfix">
              <div
                class="fb-page fb_iframe_widget"
                data-href="https://www.facebook.com/newstartrainingcenter/"
                data-tabs="timeline"
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true"
                fb-xfbml-state="rendered"
                fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=1940499616262104&amp;container_width=350&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnewstartrainingcenter%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline"
              >
                <span
                  style="vertical-align: bottom; width: 340px; height: 500px;"
                  ><iframe
                    name="f346805cae3617c"
                    width="1000px"
                    height="1000px"
                    frameborder="0"
                    allowtransparency="true"
                    allowfullscreen="true"
                    scrolling="no"
                    allow="encrypted-media"
                    title="fb:page Facebook Social Plugin"
                    src="https://www.facebook.com/v3.1/plugins/page.php?adapt_container_width=true&amp;app_id=1940499616262104&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df70bb50818e8b8%26domain%3Dnewstar.vn%26origin%3Dhttp%253A%252F%252Fnewstar.vn%252Ff2a39de1f599124%26relation%3Dparent.parent&amp;container_width=350&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnewstartrainingcenter%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline"
                    style="border: none; visibility: visible; width: 340px; height: 500px;"
                    class=""
                  ></iframe
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>
</div>
