.container-overlay {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-info {
  padding: 0 16px;
}

/* Clear floats */
.container-info::after, .row-info::after {
  content: "";
  clear: both;
  display: table;
}

.container-overlay:hover .overlay {
  height: 100%;
  opacity: 0.9;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-block {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 80%;
  text-align: center;
  background-color: black;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-tabs {
  border: none;
}

.nav-tabs li a, .nav-tabs li a.active {
  padding: 10px !important;
  background-color: transparent;
  margin-right: 0px;

}

.nav-tabs li.active {
  background-color: #ff3115;
  border: none;
}

.course-img {
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px;
  height: 300px;
}

.course-img img {
  height: 300px;
}

.course-value {
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 20px;
  color: grey;
}

