<div class="tabtable">
  <ul class="nav nav-tabs">
    <li class="active" (click)="getCourses(1)">
      <a data-toggle="tab" href="#tab1">Tất cả</a>
    </li>
    <li (click)="getCourses(2)">
      <a data-toggle="tab" href="#tab2">Đào tạo ngắn hạn</a>
    </li>
    <li (click)="getCourses(3)">
      <a data-toggle="tab" href="#tab3">Đào tạo dài hạn</a>
    </li>
  </ul>

  <div class="tab-content">
    
    <div id="tab1" class="tab-pane fade in active">
      <div
        class="col-md-4 column"
        *ngFor="let item of topCourses; let i = index"
      >
        <div class="card container-overlay">
          <div class="course-img">
            <img
              *ngIf="item.imgPath && item.imgPath.length > 0; else noImgCourse"
              [src]="item.imgPath"
              alt="Jane"
              style="width:100%"
            />
            <ng-template #noImgCourse>
              <img
                src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
                alt="Jane"
                style="width:100%"
              />
            </ng-template>

            <div class="bottom-right" style="bottom: 53px !important;">
              <span class="course-value">{{ item.costValue.toLocaleString() }}</span>
            </div>
          </div>
          <div class="container-info">
            <p class="title">{{ item.courseCategory.name }}</p>
            <h2>{{ item.name }}</h2>
            {{ item.content }}
          </div>
          <div class="overlay">
            <div class="text form-group">
              <a class="btn btn-info" [routerLink]='["/khoa-hoc", item.id]'
                ><i class="fa fa-info" aria-hidden="true"></i> chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab2" class="tab-pane fade">
      <div
        class="col-md-4 column"
        *ngFor="let item of topCourses; let i = index"
      >
        <div class="card container-overlay">
          <div class="course-img">
            <img
              *ngIf="item.imgPath && item.imgPath.length > 0; else noImgCourse"
              [src]="item.imgPath"
              alt="Jane"
              style="width:100%"
            />
            <ng-template #noImgCourse>
              <img
                src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
                alt="Jane"
                style="width:100%"
              />
            </ng-template>

            <div class="bottom-right" style="bottom: 53px !important;">
              <span class="course-value">{{ item.costValue }}</span>
            </div>
          </div>
          <div class="container-info">
            <p class="title">{{ item.courseCategory.name }}</p>
            <h2>{{ item.name }}</h2>
            <p>{{ item.content }}</p>
          </div>
          <div class="overlay">
            <div class="text form-group">
              <a class="btn btn-info" href="#"
                ><i class="fa fa-info" aria-hidden="true"></i> chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab3" class="tab-pane fade">
      <div
        class="col-md-4 column"
        *ngFor="let item of topCourses; let i = index"
      >
        <div class="card container-overlay">
          <div class="course-img">
            <img
              *ngIf="item.imgPath && item.imgPath.length > 0; else noImgCourse"
              [src]="item.imgPath"
              alt="Jane"
              style="width:100%"
            />
            <ng-template #noImgCourse>
              <img
                src="../../../assets/common/img/courses/395a8d3a-f53d-458c-ade8-a9020083b71e.png"
                alt="Jane"
                style="width:100%"
              />
            </ng-template>

            <div class="bottom-right" style="bottom: 53px !important;">
              <span class="course-value">{{ item.costValue }}</span>
            </div>
          </div>
          <div class="container-info">
            <p class="title">{{ item.courseCategory.name }}</p>
            <h2>{{ item.name }}</h2>
            <p>{{ item.content }}</p>
          </div>
          <div class="overlay">
            <div class="text form-group">
              <a class="btn btn-info" href="#"
                ><i class="fa fa-info" aria-hidden="true"></i> chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
