<app-header></app-header>
<app-menu></app-menu>

<div class="page-content-wrapper" style="background-color: #222">
  <div class="page-content" style="min-height: 514px">
    <div class="row" style="margin: 0px;">
      <!-- BEGIN PAGE BREADCRUMB -->
      <app-page-breadcrumb
        activePage='Profile'
        subLinkTitle='Quản lý'
        subLinkHref='/dashboard'
      ></app-page-breadcrumb>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-image">
            <img class="img-thumbnail img-profile" *ngIf="principal.employee.image && principal.employee.image.imgPath; else noImage" [src]="principal.employee.image.imgPath"/>
            <ng-template #noImage>
              <img class="img-thumbnail img-profile" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"/>
            </ng-template>
            <div class="profile-name">
              <h3>{{principal.employee.name}}</h3>
              <h4>{{principal.employee.email}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin-top: 120px">
          <div class="col-md-6">
            <h3 class="title-info">
              Thông tin cá nhân
            </h3>
            <div class="panel panel-body">
              <div class="form-group">
                <label class="col-md-5">Họ và tên</label>
                <div class="col-md-7" *ngIf="isEditFullName === false; else editFullName">
                  <label><strong>{{principal.employee.name}}</strong></label>
                  <a class="pull-right" (click)="isEditFullName = !isEditFullName"><i>Cập nhật</i></a>
                </div>
                <ng-template #editFullName>
                  <div class="col-md-7">
                    <input pInputText name="editFullName" [(ngModel)]="principal.employee.name"/>
                  </div>
                  <div class="col-md-7"></div>
                  <div class="col-md-5">
                    <button class="btn btn-sm btn-primary">Lưu</button>
                    <button class="btn btn-sm btn-default" (click)="isEditFullName = !isEditFullName">Hủy</button>
                  </div>
                </ng-template>
              </div>
              <div class="form-group">
                <label class="col-md-5">Điện thoại</label>
                <label class="col-md-7" *ngIf="principal.employee.phoneNumber; else noPhone"><strong>{{principal.employee.phoneNumber}}</strong></label>
                <ng-template #noPhone>
                  <label class="col-md-7"><i>(Đang cập nhật)</i></label>
                </ng-template>
              </div>
              <div class="form-group">
                <label class="col-md-5">E-mail</label>
                <label class="col-md-7"><strong>{{principal.employee.email}}</strong></label>
              </div>
            </div>
            <h3 class="title-info">
              Thông tin thêm
            </h3>
            <div class="panel panel-body">
              <div class="form-group">
                <label class="col-md-5">Giới tính</label>
                <label class="col-md-7"><i>(Đang cập nhật)</i></label>
              </div>
              <div class="form-group">
                <label class="col-md-5">Ngày sinh</label>
                <label class="col-md-7" *ngIf="principal.employee.birthDay; else noBirthDay"><strong>{{principal.employee.birthDay | date: 'dd/MM/yyyy'}}</strong></label>
                <ng-template #noBirthDay>
                  <label class="col-md-7"><i>(Đang cập nhật)</i></label>
                </ng-template>
              </div>
              <div class="form-group">
                <label class="col-md-5">Bằng cấp</label>
                <label class="col-md-7" *ngIf="principal.employee.diploma; else noDiploma"><strong>{{principal.employee.diploma}}</strong></label>
                <ng-template #noDiploma>
                  <label class="col-md-7"><i>(Đang cập nhật)</i></label>
                </ng-template>
              </div>
              <div class="form-group">
                <label class="col-md-5">Chuyên ngành</label>
                <label class="col-md-7" *ngIf="principal.employee.major; else noMajor"><strong>{{principal.employee.major}}</strong></label>
                <ng-template #noMajor>
                  <label class="col-md-7"><i>(Đang cập nhật)</i></label>
                </ng-template>
              </div>
              <div class="form-group">
                <label class="col-md-5">Quê quán</label>
                <label class="col-md-7" *ngIf="principal.employee.addressHometown; else noHometown"><strong>{{principal.employee.addressHometown}}</strong></label>
                <ng-template #noHometown>
                  <label class="col-md-7"><i>(Đang cập nhật)</i></label>
                </ng-template>
              </div>
              <div class="form-group">
                <label class="col-md-5">Địa chỉ hiện tại</label>
                <label class="col-md-7" *ngIf="principal.employee.addressNow; else noNow"><strong>{{principal.employee.addressNow}}</strong></label>
                <ng-template #noNow>
                  <label class="col-md-7"><i>(Đang cập nhật)</i></label>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <h3 class="title-info">
              Thông tin tài khoản
            </h3>
            <div class="panel panel-body">
              <div class="form-group">
                <label class="col-md-5">Tên đăng nhập</label>
                <label class="col-md-7"><strong>{{principal.username}}</strong></label>
              </div>
              <div class="form-group">
                <label class="col-md-5">Mật khẩu</label>
                <label class="col-md-7" *ngIf="isEditPassword === false; else editPassword">
                  <a (click)="isEditPassword = !isEditPassword"><i>Đổi mật khẩu</i></a>
                </label>
                <ng-template #editPassword>
                  <div class="col-md-7">
                    <input pInputText [(ngModel)]="principal.password" type="password" />
                  </div>
                  <label class="col-md-5">Xác nhận mật khẩu</label>
                  <div class="col-md-7">
                    <input pInputText [(ngModel)]="principal.confirmPassword" type="password" />
                  </div>
                  <div class="col-md-7"></div>
                  <div class="col-md-5">
                    <button class="btn btn-sm btn-primary" (click)="onUpdatePassword()">Lưu</button>
                    <button class="btn btn-sm btn-default" (click)="isEditPassword = !isEditPassword">Hủy</button>

                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        <div class="col-md-12">
          <h3 class="title-info">
            Công việc trong ngày
          </h3>
          <app-mwl-calendar [showExplain]="false"></app-mwl-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
