@import "../../../assets/common/css/custom.css";

.panel-image {
  background-color: lightgrey;
  text-align: center;
  height: 120px;
}

.img-profile {
  border-radius: 50%;
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

.title-info {
  font-weight: bold;
}
