<div class="page-404-3">
  <!-- <div class="page-inner">
    <img src="../../assets/admin/pages/media/pages/earth.jpg" class="img-responsive" alt="">
  </div> -->
  <div class="container error-404">
    <h1>404</h1>
    <h2>Oops, we have a problem.</h2>
    <p>
       Actually, the page you are looking for does not exist.
    </p>
    <p>
      <a href="/dashboard">
      Return home </a>
      <br>
    </p>
  </div>
  </div>