<form
  class="form-horizontal"
  method="POST"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <p-pickList
    [source]="allStudents"
    [target]="selectedStudents"
    sourceHeader="Dánh sách học viên"
    targetHeader="Học viên được thêm"
    [responsive]="true"
    filterBy="name"
    dragdrop="true"
    sourceFilterPlaceholder="Tìm kiếm theo tên"
    targetFilterPlaceholder="Tìm kiếm theo tên"
    [sourceStyle]="{ height: '300px' }"
    [targetStyle]="{ height: '300px' }"
  >
    <ng-template let-student pTemplate="item">
      <div class="ui-helper-clearfix">
        <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
        <div style="font-size:14px;float:right;margin:15px 5px 0 0">
          {{ student.name }}
        </div>
      </div>
    </ng-template>
  </p-pickList>
  <div
    class="form-actions modal-footer"
    style="padding-bottom: 15px !important;"
  >
    <div class="row">
      <div style="text-align: center">
        <button type="submit" class="btn green">Submit</button>
        <button type="button" class="btn default" (click)="closePopup()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
