<app-header></app-header>
<app-menu></app-menu>

<div class="page-content-wrapper" style="background-color: #364150">
  <div class="page-content" style="min-height: 710px">
    <app-page-breadcrumb activePage="Dashboard"></app-page-breadcrumb>

    <div class="row" style="margin: 0px;">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat blue-madison">
            <div class="visual"><i class="fa fa-comments"></i></div>
            <div class="details">
              <div class="number" [countUp]="totalStudents" decimal=".">0</div>
              <div class="desc">HỌC VIÊN</div>
            </div>
            <a class="more" href="/admin/users">
              View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat red-intense">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
              <div class="number" [countUp]="totalLectures" decimal=".">0</div>
              <div class="desc">GIẢNG VIÊN</div>
            </div>
            <a class="more" href="#">
              View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat green-haze">
            <div class="visual"><i class="fa fa-shopping-cart"></i></div>
            <div class="details">
              <div class="number" [countUp]="totalCourses" decimal=".">0</div>
              <div class="desc">KHÓA HỌC</div>
            </div>
            <a class="more" href="#">
              View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat purple-plum">
            <div class="visual"><i class="fa fa-globe"></i></div>
            <div class="details">
              <div class="number">+89%</div>
              <div class="desc">Brand Popularity</div>
            </div>
            <a class="more" href="#">
              View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet solid bordered grey-cararra">
            <div class="portlet-title">
                <h5><i class="fa fa-line-chart"></i>Lịch khai giảng lớp mới và kết thúc lớp cũ</h5>
              <app-mwl-calendar [events]="classesDisplayCalendar"
                (emitClickEvent)="handleAfterEventClicked($event)"
                (emitClickNextPrevious)="onReceiveClickNextPreviousCalendar($event)"
                ></app-mwl-calendar>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="portlet solid bordered grey-cararra">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-line-chart"></i>Biểu đồ theo dõi số lượng học
                viên trong vòng 10 năm
                <app-line-chart
                  [data]="chartStudents"
                  [number]="1"
                  xAxisLabel="Thời gian"
                  yAxisLabel="Số lượng"
                ></app-line-chart>
              </div>
            </div>
          </div>
          <!-- BEGIN PORTLET -->
          <!-- <app-users></app-users> -->

          <!-- END PORTLET -->
        </div>
        <div class="col-md-12 col-xs-12">
          <!-- BEGIN PORTLET -->
          <div class="portlet solid bordered grey-cararra">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-bar-chart"></i>Biểu đồ thống kê số học viên theo loại khóa học
                <br>
                <app-bar-chart
                  [data]="chartStudentsByCourseCategory"
                  [number]="1"
                  xAxisLabel="Loại khóa học"
                  yAxisLabel="Số học viên"
                ></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
