@import "~bootstrap/dist/css/bootstrap.min.css";

.page-content-wrapper{
    margin-top: 46px;
}
@media only screen and (max-width: 992px) {
    .page-content-wrapper{
        margin-top: 0px !important;
    }
}

::ng-deep .line-chart, ::ng-deep .bar-chart {
    display: block;
}
