<div class="container-content">
  <div class="container-info">
    <form
      class="form-horizontal"
      method="POST"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="row">
        <div
          class="col-md-12"
          style="padding-left: 20px !important; padding-right: 0 !important"
        >
          <div class="row">
            <div class="form-group col-md-6" style="margin-left: 0">
              <label class="control-label col-md-4"
                >Tên đăng nhập <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.username"
                  name="username"
                  #username="ngModel"
                  type="text"
                  class="form-control text-action"
                  pInputText
                  placeholder="admin, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && username.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && username.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="username.errors.required" style="color:red;">
                    (*) username là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >Tên nhân viên <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.name"
                  name="name"
                  #name="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="Nguyễn Tạ Minh Trung, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && name.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && name.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="name.errors.required" style="color:red;">
                    (*) Tên nhân viên là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >CMND <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.indentify"
                  name="indentify"
                  #indentify="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="206220235, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && indentify.invalid
                  }"
                  required
                  value="{{ user.employee.indentify }}"
                />
                <div
                  *ngIf="f.submitted && indentify.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="indentify.errors.required" style="color:red;">
                    (*) CMND là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label col-md-4">Số hộ chiếu</label>
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.passPort"
                  name="passPort"
                  #employee.name="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="206xxxxxx, E.g"
                />
                <div
                  *ngIf="f.submitted && email.invalid"
                  class="invalid-feedback"
                >
                  <!-- <div *ngIf="email.errors.required" style="color:red;">(*) E-mail là bắt buộc.</div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >E-mail <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.email"
                  name="email"
                  #email="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="trungntm.97@gmail.com, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && email.invalid
                  }"
                  required
                  value="{{ user.employee.email }}"
                  [email]
                />
                <div
                  *ngIf="f.submitted && email.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="email.errors.required" style="color:red;">
                    (*) E-mail là bắt buộc.
                  </div>
                  <div *ngIf="email.errors.email" style="color:red;">
                    (*) Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >Điện thoại <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.phoneNumber"
                  name="phoneNumber"
                  #phoneNumber="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="0384648350, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && phoneNumber.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && phoneNumber.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="phoneNumber.errors.required" style="color:red;">
                    (*) Số điện thoại là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >Số tài khoản <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.bankNo"
                  name="bankNo"
                  #bankNo="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="206xxxxxx, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && bankNo.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && bankNo.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="bankNo.errors.required" style="color:red;">
                    (*) Số tài khoản là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >Trình độ <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.diploma"
                  name="diploma"
                  #diploma="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="Đại học, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && diploma.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && diploma.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="diploma.errors.required" style="color:red;">
                    (*) Trình độ là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >Chuyên ngành <span style="color: red;">*</span></label
              >
              <div class="col-md-8" style="padding-right: 0px !important">
                <input
                  [(ngModel)]="user.employee.major"
                  name="major"
                  #major="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="Công nghệ thông tin, E.g"
                  [ngClass]="{
                    'is-invalid': f.submitted && major.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && major.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="major.errors.required" style="color:red;">
                    (*) Chuyên ngành là bắt buộc.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label col-md-4"
                >Loại nhân viên <span style="color: red">*</span>
              </label>
              <div class="col-md-8" style="padding-right: 0px !important">
                <select
                  class="form-control"
                  name="employeeTypes"
                  [(ngModel)]="user.employee.employeeType.id"
                  employeeTypes="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && employeeTypes.invalid
                  }"
                  required
                >
                  <option
                    *ngFor="let type of employeeTypes"
                    value="{{ type.id }}"
                    >{{ type.typeName }}</option
                  >
                </select>
                <div
                  *ngIf="f.submitted && employeeTypes.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="employeeTypes.errors.required" style="color:red;">
                    (*) loại nhân viên là bắt buộc.
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="f.submitted && employeeTypes.invalid" class="invalid-feedback">
															<div *ngIf="employeeTypes.errors.required" style="color:red;">(*) Loại nhân viên là bắt buộc.</div>
														</div> -->
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-md-2">Quê quán</label>
              <div class="col-md-10">
                <input
                  [(ngModel)]="user.employee.addressHometown"
                  name="addressHometown"
                  #addressHometown="ngModel"
                  pInputText
                  type="text"
                  class="form-control text-action"
                  placeholder="Thôn Trung Toàn, xã Tam Quang, huyện Núi Thành, tỉnh Quảng Nam, E.g"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-md-2">Địa chỉ hiện tại</label>
              <div class="col-md-10">
                <input
                  [(ngModel)]="user.employee.addressNow"
                  pInputText
                  name="addressNow"
                  #addressNow="ngModel"
                  type="text"
                  class="form-control text-action"
                  placeholder="71 Tân Lập 1, phường Hiệp Phú, quận 9, TP.HCM, E.g"
                />
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <div
              class="margin-top-10 pull-right"
              *ngIf="id"
              style="margin-right: -30px"
            >
              <button
                class="btn"
                type="button"
                (click)="onResetPassword(user.id)"
              >
                Reset password
              </button>
            </div>
          </div>
        </div>
        <div class="form-actions modal-footer" style="padding-bottom: 15px !important;">
          <div class="row">
            <div style="text-align: center">
              <button type="submit" class="btn green">Submit</button>
              <button type="button" class="btn default" (click)="closePopup()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
