<div class="container-content">
  <div class="container-info">
    <form
      class="form-horizontal"
      method="POST"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="row-fluid">
        <div class="form-group">
          <label class="control-label col-md-6">Học viên : <Strong>{{student.name}}</Strong></label>
          <label class="control-label col-md-6">Lớp học : <strong>{{class.name}}</strong></label>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"
            >Số tiền <span style="color: red;">*</span></label
          >
          <div class="col-md-8">
            <input
              [(ngModel)]="invoice.paymentValue"
              name="paymentValue"
              #paymentValue="ngModel"
              type="text"
              placeholder="3000000, E.g"
              [ngClass]="{
                'is-invalid': f.submitted && paymentValue.invalid
              }"
              pInputText
              required
            />
            <div
              *ngIf="f.submitted && paymentValue.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="paymentValue.errors.required" style="color:red;">
                (*) Số tiền là bắt buộc.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"
            >Nội dung <span style="color: red;">*</span></label
          >
          <div class="col-md-8">
            <input
              [(ngModel)]="invoice.content"
              name="content"
              #content="ngModel"
              type="text"
              placeholder="Thanh toán học phí, E.g"
              [ngClass]="{
                'is-invalid': f.submitted && content.invalid
              }"
              pInputText
              required
            />
            <div
              *ngIf="f.submitted && content.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="content.errors.required" style="color:red;">
                (*) Nội dung là bắt buộc.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="form-actions modal-footer"
        style="padding-bottom: 15px !important;"
      >
        <div class="row">
          <div style="text-align: center">
            <button type="submit" class="btn green">Submit</button>
            <button type="button" (click)="closePopup()" class="btn default">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
