<block-ui>
  <app-header></app-header>
  <app-menu [showMenu]="'pages'"></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Danh sách học viên"
          subLinkTitle="Quản lý"
          subLinkHref="#"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- BRGIN FILTER -->
        <div class="row">
          <div class="col-md-6">
            <input
              name="TextFilter"
              [(ngModel)]="textFilter"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
              pInputText
              style="width: 100%"

            />
          </div>
          <div class="col-md-3">
            <p-dropdown [options]="statusDefined" [placeholder]="'Chọn trạng thái'" [(ngModel)]="statusFilter"></p-dropdown>
          </div>
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <!-- END FILTER -->
        <!-- BEGIN CONTENT -->
        <br />

        <kendo-grid
          id='grid'
          [data]="gridData"
          [pageable]="{
            buttonCount: 20,
            info: true,
            type: 'numeric',
            pageSizes: [2, 5, 10, 20, 50],
            previousNext: true
          }"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
          (pageChange)="pageChange($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <app-table-toolbar locationCreatedPage="/quan-ly/hoc-vien/them-moi"
              buttonSave = false
              buttonCancel = false
            ></app-table-toolbar>
          </ng-template>
          >
          
          <kendo-grid-column field="id" title="" width="120" [locked]='true'>
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <a
                  class="btn btn-info btn-sm"
                  [routerLink]='["/quan-ly/hoc-vien", dataItem.id, "lop-hoc"]'
                  pTooltip="Khóa học và học phí" tooltipPosition="top"
                >
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a
                  class="btn btn-warning btn-sm"
                  [routerLink]="['/quan-ly/hoc-vien/chi-tiet', dataItem.id]"
                  pTooltip="Chi tiết/Cập nhật" tooltipPosition="top"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="deleteStudent(dataItem.id)"
                    pTooltip="Xóa" tooltipPosition="top"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="name" title="Tên học viên" width="200" [locked]='true'>
          </kendo-grid-column>
          <kendo-grid-column field="gender" title="Giới tính" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="dataItem.gender === false; else statusTrue"
                >Nữ</ng-container
              >
              <ng-template #statusTrue>
                Nam
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="birthDay"
            title="Ngày sinh"
            width="150"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.birthDay | date: "dd/MM/yyyy" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="status" title="Trạng thái" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="dataItem.status === false; else statusTrue"
                >Ngưng hoạt động</ng-container
              >
              <ng-template #statusTrue>
                Hoạt động
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="job.name" title="Công việc" width="200">
          </kendo-grid-column>
          <kendo-grid-column field="contact.contactName" title="Tên liên hệ" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="contact.email" title="E-mail" width="200">
          </kendo-grid-column>
          <kendo-grid-column field="contact.mobilePhone" title="Điện thoại" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="contact.workPhone" title="Điện thoại chỗ làm" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="contact.backAccount" title="Tài khoản" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="contact.address1" title="Địa chỉ" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="createdDate" title="Ngày tạo" width="180">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdBy" title="Người tạo" width="150">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updateDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
            width="150"
          >
          </kendo-grid-column>
          
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>

        <!-- END CONTENT -->
      </div>
    </div>
  </div>
</block-ui>
