<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Các khóa học đã đăng ký"
          subLinkTitle="Quản lý,Học viên"
          subLinkHref="#,/quan-ly/hoc-vien"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- END CONTENT -->
        <div class="row">
          <div class="col-md-6">
            <input
              name="TextFilter"
              [(ngModel)]="textFilter"
              class="form-control"
              placeholder="Nhập từ khóa cần tìm ..."
              pInputText
            />
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12" style="padding-left: 5px">
            <p-dropdown
              [options]="statusDefined"
              [(ngModel)]="statusFilter"
              placeholder="Chọn trạng thái"
            ></p-dropdown>
          </div>

          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <br>
        <kendo-grid
          id="grid"
          [data]="gridData"
          [pageable]="false"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
        >
          
          <kendo-grid-column
            field="id"
            title=""
            width="100"
            [locked]="true"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div align="center">
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  (click)="editMark(dataItem.id)"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="imgPath"
            title="Hình ảnh"
            width="150"
            [style]="{ 'text-align': 'center', color: 'black' }"
            [locked]="true"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
                <img
                *ngIf="dataItem.imgPath; else NoImage"
                alt=""
                [src]="dataItem.imgPath"
                class="img-circle"
                style="width: 80px; height: 80px;"
              />
              <ng-template #pass>
                  <img
                  src="../../assets/admin/pages/media/profile/profile_user.jpg"
                  class="img-circle"
                  style="width: 80px; height: 80px;"
                  alt=""
                />
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="name"
            title="Tên khóa học"
            width="200"
            [locked]="true"
          >
          </kendo-grid-column>
          <kendo-grid-column field="costValue" title="Tình trạng học phí" width="150">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
            width="150"
          >
          </kendo-grid-column>
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</block-ui>
