<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i> <a href="/trang-chu">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li><a href="#">Cơ sở hạ tầng</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <img class="img-thumbnail" src="../../../assets/common/img/infrastructure/csvc-newstar-3.jpg" alt="csvc-newstar-3" srcset="">
      </div>
      <div class="col-md-6">
        <h2><strong>HỆ THỐNG PHÒNG HỌC</strong></h2><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Diện tích phòng học thoáng mát</p><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Bố trí trang thiết bị hợp lý</p><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Mỗi phòng học đều có máy điều hòa nhiệt độ</p><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Phòng học được cách âm, đủ ánh sáng</p>
      </div>
    </div>
  </div>
  <br>
  <div class="clearfix"></div>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <h2><strong>HỆ THỐNG TRANG THIẾT BỊ THỰC HÀNH</strong></h2><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Hệ thống Router, Switch số lượng lớn và hiện đại</p><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Hệ thống Server chuyên dụng đáp ứng đủ cho nhu cầu học tập, nghiên cứu của học viên</p><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Hệ thống tổng đài Voice hiện đại, đa dạng giúp học viên tự khi triển khai dự án cho khách hàng</p><br>
        <p><i style="color: chartreuse" class="fa fa-check" aria-hidden="true"></i> Hệ thống máy tính cấu hình mạnh, ổn định</p>
      </div>
      <div class="col-md-6">
        <img class="img-thumbnail" src="../../../assets/common/img/infrastructure/csvc-newstar-4.jpg" alt="csvc-newstar-3" srcset="">
      </div>
      
    </div>
  </div>

  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>

</div>