* {box-sizing: border-box;}

/* h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 190px;
  height: 5px;
  width: 100px;
  background-color: #ff3115;
} */

.sec-insfrastructure {
  padding: 20px 0 20px 0
}