<block-ui>
    <app-header></app-header>
    <app-menu></app-menu>
  
    <div class="page-content-wrapper" style="background-color: #364150">
      <div class="page-content" style="min-height: 710px">
        <div class="row" style="margin: 0px;">
          <!-- BEGIN PAGE BREADCRUMB -->
          <h3 class="page-title">
            Dashboard <small>reports & statistics</small>
          </h3>
          <div class="page-bar">
            <ul class="page-breadcrumb">
              <li>
                <i class="fa fa-home"></i> <a href="/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li><a href="#">Danh sách người dùng</a></li>
            </ul>
          </div>
          <!-- END PAGE BREADCRUMB -->
          <!-- BRGIN FILTER -->
          <div class="row">
            <div class="col-md-6">
              <input
                id="txtFilter"
                class="form-control"
                placeholder="Nhập từ khóa cần tìm ..."
              />
            </div>
            <div class="col-md-3">
              <select
                id="sel-empType"
                name="empTypes"
                placeholder="Loại nhân viên"
                class="form-control"
              >
                <option *ngFor="let item of empTypes" value="{{ item.id }}">{{
                  item.typeName
                }}</option>
              </select>
            </div>
            <div class="pull-right form-actions" style="margin-right:15px;">
              <button class="btn btn-info" (click)="onFilter()">Lọc</button>
              <button class="btn btn-danger" (click)="onCancelFilter()">
                Hủy lọc
              </button>
            </div>
          </div>
          <!-- END FILTER -->
          <!-- BEGIN CONTENT -->
          <br />
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <button
                    id="sample_editable_1_new"
                    class="btn green"
                    (click)="onGotoUserDetail()"
                  >
                    Thêm <i class="fa fa-plus"></i>
                  </button>
                  <label class="btn blue">
                    <input
                      type="file"
                      accept=".xls,.xlsx"
                      (change)="onChangeExcel($event)"
                      style="display: none"
                    />
                    Import excel <i class="fa fa-upload"></i>
                  </label>
                  <button class="btn btn-success" (click)="onExportData()">
                    Export excel <i class="fa fa-download"></i>
                  </button>
                  <button class="btn grey" (click)="onExportTemplate()">
                    Tải mẫu excel <i class="fa fa-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="table-container mat-elevation-z8">
            <div *ngIf="errors && errors.length > 0; else includeData">
              <i>(*) Không tìm thấy dữ liệu</i>
            </div>
            <ng-template #includeData>
              <table
                class="table table-striped table-bordered table-hover"
                id="sample_1"
              >
                <thead>
                  <tr>
                    <th><mat-checkbox></mat-checkbox></th>
                    <th>Mã NV</th>
                    <th>Username</th>
                    <th>Tên nhân viên</th>
                    <th>Chuyên ngành</th>
                    <th>Loại nhân viên</th>
                    <th>Ngày tạo</th>
                    <th>người tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Người cập nhật</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users" class="odd gradeX">
                    <td class="mat-checkbox"><mat-checkbox></mat-checkbox></td>
                    <td>
                      <span>{{ user.employee.code }}</span>
                    </td>
                    <td class="center">
                      <a href="/quan-ly/nguoi-dung/chi-tiet/{{ user.id }}"
                        >{{ user.username }}
                      </a>
                    </td>
                    <td>
                      <span>{{ user.employee.name }}</span>
                    </td>
                    <td>
                      <span>{{ user.employee.major }}</span>
                    </td>
                    <td>
                      <span>{{ user.employee.employeeType.typeName }}</span>
                    </td>
                    <td class="center">
                      {{ user.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
                    </td>
                    <td class="center col-action-date">{{ user.createdBy }}</td>
                    <td class="center">
                      {{ user.updatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
                    </td>
                    <td class="center col-action-by">{{ user.updatedBy }}</td>
                    <td style="text-align: center">
                      <button
                        type="button"
                        class="btn btn-info"
                        (click)="onReactiveUser(user.id)"
                      >
                      <i class="fa fa-undo" aria-hidden="true"></i>
                    </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="onDeleteRecord(user.id)"
                      >
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- PAGER -->
              <nav
                aria-label="Page navigation"
                style="margin-top: -5px;"
                class="pull-right"
              >
                <ul class="pagination">
                  <li [className]="current == 0 ? 'disabled' : 'enable'">
                    <a (click)="onPrePage()" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li
                    [className]="item === current ? 'active' : 'inactive'"
                    *ngFor="let item of pageArray"
                  >
                    <a (click)="onGotoPage(item)">{{ item + 1 }}</a>
                  </li>
                  <li
                    [className]="
                      current === pageNumber - 1 ? 'disabled' : 'enable'
                    "
                  >
                    <a (click)="onNextPage()" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </ng-template>
          </div>
          <!-- END CONTENT -->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </block-ui>
  