<div class="portlet solid bordered grey-cararra">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-line-chart-o"></i>Biểu đồ theo dõi số lượng học viên
    </div>
  </div>
  <div class="portlet-body">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="dataChart"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [legendPosition]="legendPosition"
      [legendTitle]="legendTitle"
      [autoScale]="autoScale"
    >
    </ngx-charts-line-chart>
  </div>
</div>
