<div class="row" style="padding-bottom: 10px">
  <div class="col-md-6">
    <input
      [(ngModel)]="searchText"
      class="form-control"
      placeholder="Nhập từ khóa cần tìm ..."
      style="width: 100%"

    />
  </div>
  <div class="pull-right form-actions" style="margin-right:15px;">
    <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
    <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
      Hủy lọc
    </button>
  </div>
</div>
<!-- Danh sách học viên -->
<kendo-grid
  id="grid"
  [data]="gridData"
  [pageable]="{
    buttonCount: 20,
    info: true,
    type: 'numeric',
    pageSizes: [2, 10, 20, 50],
    previousNext: true
  }"
  [pageSize]="pageSize"
  [skip]="skip"
  [sortable]="true"
  [groupable]="false"
  [filterable]="false"
  [navigable]="true"
  (pageChange)="pageChange($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <app-table-toolbar
      classStudentInput="{{ classId }}"
      (emitAfterCreateRecord)="getDataAfterCreate($event)"
      (emitImportExcel)="recieveFormDataToImportExcel($event)"
      buttonSave = false
      buttonDowload = false
      buttonCancel = false
    ></app-table-toolbar>
  </ng-template>
  >
  <kendo-grid-column
    field="id"
    title=""
    width="100"
    [locked]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div align="center">
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="deleteStudentInClass(dataItem.id)"
          pTooltip="Xóa" tooltipPosition="top"

        >
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
        <a
          type="button"
          class="btn btn-info btn-sm"
          [routerLink]="[
            '/quan-ly/hoc-vien/chi-tiet',
            dataItem.id
          ]"
          pTooltip="Chi tiết" tooltipPosition="top"

        >
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="name"
    title="Tên học viên"
    width="200"
    [locked]="true"
  >
  </kendo-grid-column>
  <kendo-grid-column field="gender" title="Giới tính" width="100">
    <ng-template kendoGridCellTemplate let-dataItem>
      <ng-container
        *ngIf="dataItem.gender === false; else statusTrue"
        >Nữ</ng-container
      >
      <ng-template #statusTrue>
        Nam
      </ng-template>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="birthDay"
    title="Ngày sinh"
    width="150"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.birthDay | date: "dd/MM/yyyy" }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="status"
    title="Trạng thái"
    width="100"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <ng-container
        *ngIf="dataItem.status === false; else statusTrue"
        >Ngưng hoạt động</ng-container
      >
      <ng-template #statusTrue>
        Hoạt động
      </ng-template>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="job.name"
    title="Công việc"
    width="200"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="contact.contactName"
    title="Tên liên hệ"
    width="150"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="contact.email"
    title="E-mail"
    width="200"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="contact.mobilePhone"
    title="Điện thoại"
    width="150"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="contact.workPhone"
    title="Điện thoại chỗ làm"
    width="150"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="contact.backAccount"
    title="Tài khoản"
    width="150"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="contact.address1"
    title="Địa chỉ"
    width="250"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="createdDate"
    title="Ngày tạo"
    width="180"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="createdBy"
    title="Người tạo"
    width="150"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="updatedDate"
    title="Ngày cập nhật"
    width="180"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.updateDate | date: "dd/MM/yyyy hh:mm:ss" }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="updatedBy"
    title="Người cập nhật"
    width="150"
  >
  </kendo-grid-column>
</kendo-grid>
<div *ngIf="kendoLoading" class="k-i-loading"></div>

