<block-ui>
  <app-header></app-header>
  <app-menu [showMenu]="'pages'"></app-menu>

  <div class="page-content-wrapper" style="background-color: #364150">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Chi tiết học viên"
          subLinkTitle="Quản lý"
          subLinkHref="#"
        ></app-page-breadcrumb>
      </div>
      <div class="container-info">
        <form
          class="form-horizontal"
          method="POST"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <h6 class="title-form">THÔNG TIN CƠ BẢN</h6>

            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Mã học viên</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-code"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.id"
                        class="form-control"
                        placeholder=""
                        name="id"
                        #id="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && id.invalid
                        }"
                        readonly="readonly"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Tên học viên</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.name"
                        class="form-control"
                        placeholder=""
                        name="name"
                        #name="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && name.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && name.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="name.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Giới tính</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <mat-radio-group
                        [(ngModel)]="student.gender"
                        name="gender"
                        #gender="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && status.invalid
                        }"
                        required
                      >
                        <mat-radio-button [value]="true">Nam</mat-radio-button>
                        <mat-radio-button [value]="false">Nữ</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && gender.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="gender.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Năm sinh</label>
                <div class="col-md-8">
                  <p-calendar
                    [(ngModel)]="student.birthDay"
                    name="birth"
                    #birth="ngModel"
                    showButtonBar="true"
                    [yearNavigator]="true"
                    [monthNavigator]="true"
                    yearRange="1980:2050"
                    [showIcon]="true"
                  ></p-calendar>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Trạng thái</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <select
                        class="form-control"
                        [(ngModel)]="student.status"
                        name="status"
                        #status="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && status.invalid
                        }"
                        required
                      >
                        <option class="form-group" value="true"
                          >Đang hoạt động</option
                        >
                        <option class="form-group" value="false"
                          >Ngừng hoạt động</option
                        >
                      </select>
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && status.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="status.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Học viên tiềm năng</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <mat-radio-group
                        [(ngModel)]="student.isPotentialStudent"
                        name="potentialStudent"
                        #potentialStudent="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && status.invalid
                        }"
                        required
                      >
                        <mat-radio-button [value]="true"
                          >Học viên tiềm năng</mat-radio-button
                        >
                        <mat-radio-button [value]="false"
                          >Khác</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && potentialStudent.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="potentialStudent.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <h6 class="title-form">THÔNG LIÊN HỆ</h6>

            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Mã liên hệ</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.id"
                        class="form-control"
                        placeholder=""
                        name="cid"
                        #cid="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && id.invalid
                        }"
                        readonly="readonly"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Trạng thái</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <select
                        class="form-control"
                        [(ngModel)]="student.contact.status"
                        name="cstatus"
                        #cstatus="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && cstatus.invalid
                        }"
                        required
                      >
                        <option class="form-group" value="true"
                          >Đang hoạt động</option
                        >
                        <option class="form-group" value="false"
                          >Ngừng hoạt động</option
                        >
                      </select>
                    </div>
                    <div
                      *ngIf="f.submitted && cstatus.invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="cstatus.errors.required"
                        style="color:red; font-size: 12px;"
                      >
                        (*) Thông tin yêu cầu
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa  fa-envelope"></i>
                      </span>
                      <input
                        type="email"
                        [(ngModel)]="student.contact.email"
                        class="form-control"
                        placeholder="Email Address"
                        name="email"
                        #email="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && email.invalid
                        }"
                        required
                        [email]="true"
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && email.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="email.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                    <div *ngIf="email.errors.email" style="color:red;">
                      (*) Email must be a valid email address
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Điện thoại cá nhân</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.mobilePhone"
                        class="form-control"
                        placeholder=""
                        name="mobilePhone"
                        #mobilePhone="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && mobilePhone.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && mobilePhone.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="mobilePhone.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Facebook</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa  fa-facebook"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.facebook"
                        class="form-control"
                        placeholder="Email Address"
                        name="facebook"
                        #facebook="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && facebook.invalid
                        }"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Fax</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-fax"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.fax"
                        class="form-control"
                        placeholder=""
                        name="fax"
                        #fax="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && fax.invalid
                        }"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Địa chỉ 1</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa  fa-address-card"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.address1"
                        class="form-control"
                        placeholder="Address"
                        name="address1"
                        #address1="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && address2.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && address1.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="address1.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Địa chỉ 2</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-address-card"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.address2"
                        class="form-control"
                        placeholder=""
                        name="address2"
                        #address2="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && address2.invalid
                        }"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Địa chỉ 3</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa  fa-address-card"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.address3"
                        class="form-control"
                        placeholder=" Address"
                        name="address3"
                        #address3="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && address3.invalid
                        }"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Website</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.contact.website"
                        class="form-control"
                        placeholder=""
                        name="website"
                        #website="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && website.invalid
                        }"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <h6 class="title-form">THÔNG CÔNG VIỆC/HỌC VẤN</h6>

            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Mã công việc</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.job.id"
                        class="form-control"
                        placeholder=""
                        name="jid"
                        #jid="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && jid.invalid
                        }"
                        readonly="readonly"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Công việc hiện nay</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa  fa-envelope"></i>
                      </span>
                      <input
                        type="text"
                        [(ngModel)]="student.job.name"
                        class="form-control"
                        placeholder=""
                        name="jname"
                        #jname="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && jname.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && jname.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="jname.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Trạng thái</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </span>
                      <select
                        class="form-control"
                        [(ngModel)]="student.job.status"
                        name="jstatus"
                        #jstatus="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && jstatus.invalid
                        }"
                        required
                      >
                        <option class="form-group" value="true"
                          >Đang hoạt động</option
                        >
                        <option class="form-group" value="false"
                          >Ngừng hoạt động</option
                        >
                      </select>
                    </div>
                  </div>
                  <div
                    *ngIf="f.submitted && jstatus.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="jstatus.errors.required"
                      style="color:red; font-size: 12px;"
                    >
                      (*) Thông tin yêu cầu
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="col-md-4 control-label">Mô tả công việc</label>
                <div class="col-md-8">
                  <div class="input-inline">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa  fa-list-alt"></i>
                      </span>
                      <textarea
                        rows="5"
                        [(ngModel)]="student.job.description"
                        class="form-control"
                        placeholder=""
                        name="description"
                        #description="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && description.invalid
                        }"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-5 col-md-7">
                <button type="submit" class="btn green act-click">
                  Submit
                </button>
                <button type="button" class="btn default">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</block-ui>
