@import "../../../assets/common/css/custom.css";

.form-group {
  margin-left: 0;
  margin-right: 0;
}

h6.title-form{
  font-weight: bold;
  margin-top: 7px;
  color: #666;
}


.list {
  padding-left: 0px;
  float: left;
}

.list__item {
  /* margin: 0 0 .5rem 0; */
  padding: 0;
  list-style: none;
  float: left;
  margin-right: 20px;
}

.label--radio {
  position: relative;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.label--radio input{
    display: none;
}


.radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  /* left: 0.125rem; */
  z-index: 1;
  width: 1rem;
  height: 1rem;
  background: #16a085;
  border-radius: 50%;
}
.radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}
.act-click{
margin-right: 10px;
}
mat-radio-button{
margin-right: 20px;
}

