@import "../../../assets/common/css/custom.css";

.btn-title-popup {
  width: 100%;
  text-align: left;
  border: none;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background: #147682;
  margin-top: 5px;
  outline: none;
}

