<app-header></app-header>
<app-menu></app-menu>

<div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
        <div class="row" style="margin: 0px;">
            <!-- BEGIN PAGE BREADCRUMB -->
          <app-page-breadcrumb
            activePage='Phân quyền'
            subLinkTitle='Quản lý,Quyền người dùng'
            subLinkHref='#,#'
          ></app-page-breadcrumb>
          
          <div class="table-container mat-elevation-z8">
            <table class="table table-striped table-bordered table-hover" id="sample_1">
              <thead>
                <tr>
                  <th>Nhóm quyền
                  </th>
                  <th *ngFor="let privilege of privileges" style="text-align: center">{{privilege.privilegeName}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" *ngFor="let role of roles; let i = index">
                  <td style="width: 20%">
                    <span><strong>{{role.roleName}}</strong></span>
                  </td>
                  <td *ngFor="let privilege of privileges; let j = index" style="text-align: center">
                    <mat-checkbox [(ngModel)]="privilegesOfRole[i][j]"
                    (change)=onToggleSetPrivilege($event,role,privilege)></mat-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
    </div>  
</div>