<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #364150">
    <div class="page-content" style="min-height: 710px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Thông tin nhân viên"
          subLinkTitle="Quản lý,Nhân viên"
          subLinkHref="#,/quan-ly/nhan-vien"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <div class="container-content">
          <div class="container-info">
            <form
              class="form-horizontal"
              method="POST"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="row">
                <div class="col-md-2 col-lg-2 col-xs-12">
                  <div class="form-group">
                    <div
                      class="fileinput-new thumbnail container-image"
                      style="width: 200px; height: 150px;"
                    >
                      <img
                        *ngIf="
                          employee.image && employee.image.imgPath;
                          else NoImage
                        "
                        [src]="employee.image.imgPath"
                        alt=""
                        style="width: 100%; height: 100%;"
                      />
                      <ng-template #NoImage
                        ><img
                          src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                          alt=""
                          style="width: 100%; height: 100%;"
                      /></ng-template>
                      <span
                        class="btn default btn-file bottom-right"
                        style="z-index: 99; opacity: 0.7"
                      >
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        <input
                          type="file"
                          name="file"
                          (change)="onFileSelected($event)"
                        />
                      </span>
                    </div>
                  </div>
                  <div class="margin-top-10">
                    <button
                      type="button"
                      class="btn green btn-circle btn-sm"
                      (click)="onChangeImage()"
                    >
                      Cập nhật
                    </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="col-md-10 col-lg-10 col-xs-12">
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >Tên nhân viên <span style="color: red;">*</span></label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.name"
                          name="name"
                          #name="ngModel"
                          type="text"
                          placeholder="admin, E.g"
                          [ngClass]="{
                            'is-invalid': f.submitted && name.invalid
                          }"
                          pInputText
                          required
                        />
                        <div
                          *ngIf="f.submitted && name.invalid"
                          class="invalid-feedback"
                        >
                          <div *ngIf="name.errors.required" style="color:red;">
                            (*) Tên nhân viên là bắt buộc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
<!--                      <label class="control-label col-md-3"-->
<!--                        >Trạng thái <span style="color: red;">*</span></label-->
<!--                      >-->
<!--                      <div-->
<!--                        class="col-md-9"-->
<!--                        style="padding-right: 0px !important"-->
<!--                      >-->
<!--                        <mat-slide-toggle-->
<!--                          [(ngModel)]="employee.status"-->
<!--                          name="status"-->
<!--                        ></mat-slide-toggle>-->
<!--                      </div>-->

                    <label class="control-label col-md-3">Tình trạng <span style="color: red;">*</span></label>
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                          <p-dropdown
                            [style]="{'width':'85%'}"
                            [options]="states"
                            [placeholder]="'Chọn trạng thái'"
                            [(ngModel)]="employee.state"
                            (onChange)="onChangeState()"
                            name="state"></p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >E-mail <span style="color: red;">*</span></label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.email"
                          name="email"
                          #email="ngModel"
                          type="text"
                          placeholder="admin, E.g"
                          [ngClass]="{
                            'is-invalid': f.submitted && email.invalid
                          }"
                          pInputText
                          required
                        />
                        <div
                          *ngIf="f.submitted && email.invalid"
                          class="invalid-feedback"
                        >
                          <div *ngIf="email.errors.required" style="color:red;">
                            (*) E-mail là bắt buộc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >Điện thoại <span style="color: red;">*</span></label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.phoneNumber"
                          name="phone"
                          #phone="ngModel"
                          type="text"
                          placeholder="Số điện thoại"
                          [ngClass]="{
                            'is-invalid': f.submitted && phone.invalid
                          }"
                          pInputText
                          required
                        />
                        <div
                          *ngIf="f.submitted && phone.invalid"
                          class="invalid-feedback"
                        >
                          <div *ngIf="phone.errors.required" style="color:red;">
                            (*) Điện thoại là bắt buộc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >CMND <span style="color: red;">*</span></label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.indentify"
                          name="indentify"
                          #indentify="ngModel"
                          type="text"
                          placeholder="Chứng minh nhân dân"
                          [ngClass]="{
                            'is-invalid': f.submitted && indentify.invalid
                          }"
                          pInputText
                          required
                        />
                        <div
                          *ngIf="f.submitted && indentify.invalid"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="indentify.errors.required"
                            style="color:red;"
                          >
                            (*) CMND là bắt buộc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3">Ngày sinh </label>
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <p-calendar
                          [(ngModel)]="employee.birthDay"
                          name='birthDay'
                          #birthDay='ngModel'
                          dateFormat="dd/mm/yy"
                          showButtonBar="true"
                          monthNavigator='true'
                          yearNavigator='true'
                          yearRange='1970:2020'
                        ></p-calendar>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3">Dân tộc </label>
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.folk"
                          name="folk"
                          type="text"
                          pInputText
                          placeholder="Dân tộc"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3">Hộ chiếu </label>
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.passPort"
                          name="passPort"
                          type="text"
                          pInputText
                          placeholder="admin, E.g"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >Chuyên ngành <span style="color: red;">*</span></label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.major"
                          name="major"
                          #major="ngModel"
                          type="text"
                          pInputText
                          placeholder="Chuyên ngành"
                          required
                        />
                        <div
                          *ngIf="f.submitted && major.invalid"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="major.errors.required"
                            style="color:red;"
                          >
                            (*) Chuyên ngành là bắt buộc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >Trình độ <span style="color: red;">*</span></label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.diploma"
                          name="diploma"
                          #diploma="ngModel"
                          type="text"
                          pInputText
                          placeholder="Trình độ"
                          required
                        />
                        <div
                          *ngIf="f.submitted && diploma.invalid"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="diploma.errors.required"
                            style="color:red;"
                          >
                            (*) Bằng cấp là bắt buộc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3"
                        >Địa chỉ hiện tại</label
                      >
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.addressNow"
                          name="addressNow"
                          type="text"
                          pInputText
                          placeholder="Địa chỉ hiện tại"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3">Quê quán </label>
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="employee.addressHometown"
                          name="addressHometown"
                          type="text"
                          pInputText
                          placeholder="Quê quán"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="isReader == true">
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3">lý do </label>
                      <div
                        class="col-md-9"
                        style="padding-right: 0px !important"
                      >
                        <input
                          [(ngModel)]="takeBreak.reason"
                          name="reason"
                          type="text"
                          pInputText
                          placeholder="Nhập lý do ..."
                        />
                      </div>
                    </div>
                    <div
                      class="form-group col-md-12 col-lg-12 col-xs-12"
                      style="margin-left: 0"
                    >
                      <label class="control-label col-md-3">Từ ngày </label>
                      <div
                        class="col-md-3"
                        style="padding-right: 0px !important"
                      >
                        <p-calendar [(ngModel)]="takeBreak.fromTime"
                          name="fromDate"
                        ></p-calendar>
                      </div>
                      <label class="control-label col-md-2">Đến ngày </label>
                      <div
                        class="col-md-3"
                        style="padding-right: 0px !important"
                      >
                        <p-calendar [(ngModel)]="takeBreak.toTime"
                                    name="toDate"
                        ></p-calendar>
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-actions"
                    style="padding-bottom: 15px !important;"
                  >
                    <div class="row">
                      <div style="text-align: center">
                        <button type="submit" class="btn green">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
