<block-ui>
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="page-content-wrapper" style="background-color: #222">
    <div class="page-content" style="min-height: 514px">
      <div class="row" style="margin: 0px;">
        <!-- BEGIN PAGE BREADCRUMB -->
        <app-page-breadcrumb
          activePage="Nhân viên"
          subLinkTitle="Quản lý"
          subLinkHref="#"
        ></app-page-breadcrumb>
        <!-- END PAGE BREADCRUMB -->
        <!-- BRGIN FILTER -->
        <div class="row">
          <div class="col-md-6">
            <input
              class="form-control"
              [(ngModel)]="searchText"
              name="SearchText"
              pInputText
              placeholder="Nhập từ khóa cần tìm ..."
              style="width: 100%"
            />
          </div>
          <div class="col-md-3">
            <p-dropdown [options]="states" [placeholder]="'Chọn trạng thái'" [(ngModel)]="stateFilter"></p-dropdown>
          </div>
          <div class="pull-right form-actions" style="margin-right:15px;">
            <button class="btn btn-info btn-sm" (click)="onFilter()">Lọc</button>
            <button class="btn btn-danger btn-sm" (click)="onCancelFilter()">
              Hủy lọc
            </button>
          </div>
        </div>
        <!-- END FILTER -->
        <!-- BEGIN CONTENT -->
        <br />
        <kendo-grid
          id='grid'
          [data]="gridData"
          [pageable]="{
            buttonCount: 20,
            info: true,
            type: 'numeric',
            pageSizes: [2, 10, 50],
            previousNext: true
          }"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="true"
          [groupable]="false"
          [filterable]="false"
          [navigable]="true"
          (pageChange)="pageChange($event)"
        >
          <ng-template kendoGridToolbarTemplate>
              <app-table-toolbar
                locationCreatedPage="/quan-ly/nguoi-dung/tao-moi"
                buttonCreate = false
                buttonSave = false
                buttonDowload = false
                buttonCancel = false
              ></app-table-toolbar>
            </ng-template>
          >
          <kendo-grid-column field="id" title="" width="120">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div align="center">
                  <button
                    class="btn btn-info btn-sm"
                  ><i class="fa fa-info-circle"></i></button>
                  <a
                    type="button"
                    class="btn btn-warning btn-sm"
                    [routerLink]="['/quan-ly/nhan-vien', dataItem.id]"
  
                  >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="onDeleteRecord(dataItem.id)"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </div>
              </ng-template>
            </kendo-grid-column>
          <kendo-grid-column title="Hình ảnh" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <img
                *ngIf="dataItem.image; else NoImage"
                alt=""
                [src]="dataItem.image.imgPath"
                class="img-circle"
                style="width: 80px; height: 80px;"
              />
              <ng-template #NoImage>
                <img
                  src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                  class="img-circle"
                  style="width: 80px; height: 80px;"
                  alt=""
                />
              </ng-template>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column title="Thông tin" width="220">
            <ng-template kendoGridCellTemplate let-dataItem>
                <strong>ID: {{ dataItem.code }}</strong>
                <br />
                <strong>{{ dataItem.name }}</strong>
                <br />
                {{ dataItem.employeeType.typeName }}
                <br />
                {{ dataItem.phoneNumber }}
                <br />
                {{ dataItem.email }}
            </ng-template>
            
          </kendo-grid-column>
          <kendo-grid-column field="status" title="Trạng thái" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="dataItem.status === false; else statusTrue"
                >Ngưng hoạt động</ng-container
              >
              <ng-template #statusTrue>
                Hoạt động
              </ng-template>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdDate" title="Ngày tạo" width="180">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="createdBy" title="Người tạo" width="150">
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedDate"
            title="Ngày cập nhật"
            width="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.updatedDate | date: "dd/MM/yyyy hh:mm:ss" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="updatedBy"
            title="Người cập nhật"
            width="150"
          >
          </kendo-grid-column>
          
        </kendo-grid>
        <div *ngIf="kendoLoading" class="k-i-loading"></div>

      </div>
    </div>
  </div>
</block-ui>
