<div class="corporate" style="background-color: #fff !important">
  <app-header-client></app-header-client>

  <div class="row-fluid">
    <div class="container">
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i> <a href="/trang-chu">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li><a href="#">Thành tựu đạt được</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <h4><strong>Trung tâm đào tạo Newstar thành lập năm 2008. Qua gần 10 năm hoạt động, Newstar là một thương hiệu mạnh trong hoạt động đào tạo và cung cấp nguồn nhân lực chất lượng cao về lĩnh vực CNTT.</strong></h4>
    </div>
  </div>

  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <img class="img-thumbnail" src="../../../assets/common/img/achievements-acquired/512x512-logo.png" alt="logo" srcset="">
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12" style="background-color: #fff">
        <div class="about-desc">
          <h2><strong>ĐỘI NGŨ GIẢNG VIÊN VÀ CHUYÊN GIA</strong></h2>
          <p>
            Với đội ngũ giảng viên là những chuyên gia, nhiều kinh nghiệm thực tế, nhiệt tình trong giảng dạy, đam mê trong lãnh vực nghiên cứu, chia sẻ, cùng với hệ thống thiết bị hiện đại được đầu tư hàng năm, và sự hỗ trợ về tài liệu của các hãng sản xuất thiết bị. Với gần 10 năm hoạt động Newstar tự hào là trung tâm đào tạo chất lượng hàng đầu tại Việt Nam
          </p>

          <button class="accordion">Cung cấp lao động</button>
          <div class="panel">
            <p>
              Newstar đã cung cho thị trường lao động hơn 10.000 học viên có trình độ chuyên môn cao đang làm việc tại các tập đoàn công nghệ lớn.
            </p>
          </div>

          <button class="accordion">Kiến thức</button>
          <div class="panel">
            <p>
              Hơn 200 khóa học CCNA, 150 khóa học CCNP, gần 100 khóa học Linux và gần 250 khóa học MCSA, MCSE…
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="clearfix"></div>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <h4><strong>Hiện nay hàng năm Newstar cũng cung cấp hàng trăm IT chất lượng cao cho các doanh nghiệp trong và ngoài nước như: VNPT, VNG, FPT, Viettel, CMC, Datadimension, Sao Bắc Đẩu, các Ngân hàng, CSC, HSBC, KDDI, TMA, SPT, SCTV… Cung cấp nhiều giải pháp CNTT cho doanh nghiệp.</strong></h4>
    </div>
  </div>
  <br>
  <div class="clearfix"></div>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6 col-lg-6 col-xs-12" style="background-color: #fff">
        <div class="about-desc">
          <h2><strong>CÁC HOẠT ĐỘNG HỖ TRỢ HỌC VIÊN</strong></h2>
          <p>
              Với đội ngũ giảng viên là những chuyên gia, nhiều kinh nghiệm thực tế, nhiệt tình trong giảng dạy, đam mê trong lãnh vực nghiên cứu, chia sẻ, cùng với hệ thống thiết bị hiện đại được đầu tư hàng năm, và sự hỗ trợ về tài liệu của các hãng sản xuất thiết bị. Với gần 10 năm hoạt động Newstar tự hào là trung tâm đào tạo chất lượng hàng đầu tại Việt Nam
          </p>

          <button class="accordion">Thực tập</button>
          <div class="panel">
            <p>
              Hỗ trợ sinh viên thực tập tại trung tâm hoặc tại các doanh nghiệp CNTT
            </p>
          </div>

          <button class="accordion">Hướng nghiệp</button>
          <div class="panel">
            <p>
              Tư vấn định hướng nghề nghiệp và hỗ trợ tìm kiếm việc làm cho sinh viên
            </p>
          </div>
          <button class="accordion">Hội thảo chuyên ngành</button>
          <div class="panel">
            <p>
                Newstar thường xuyên tổ chức các buổi Hội thảo chuyên đề; workshop giới thiệu các công nghệ và giải pháp kỹ thuật mới nhất.
            </p>
          </div>
          <button class="accordion">LBC GIAO LƯU</button>
          <div class="panel">
            <p>
                Đặc biệt, CLB Học thuật được thành lập 11/2017. CLB là nơi sinh hoạt chuyên môn, trao đổi kinh nghiệm, có lịch sinh hoạt định kỳ cho các GV và một số chuyên gia trong lĩnh vực CNTT. Giúp chất lượng đội ngũ không ngừng nâng cao chất lượng.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-thumbnail" src="../../../assets/common/img/achievements-acquired/17795868_756461384518215_2506594680784862694_n.jpg" alt="csvc-newstar-3" srcset="">
      </div>
      
    </div>
  </div>
  <br>
  <div class="clearfix"></div>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="../../../assets/common/img/achievements-acquired/csvc-newstar-3.jpg"
          alt="csvc-newstar-3"
          srcset=""
        />
      </div>
      <div class="col-md-6">
        <h2><strong>CƠ SỞ VẬT CHẤT</strong></h2>
        <br />
        <p><strong>Hệ thống phòng học:</strong></p>
        <p>Diện tích phòng học rộng rãi thoáng mát</p>
        <p>Bố trí trang thiết bị hợp lý</p>
        <p>Mỗi phòng học đều có máy điều hòa nhiệt độ</p>
        <p>Phòng học được cách âm, đủ ánh sáng</p>
        <p><strong>Hệ thống trang thiết bị thực hành:</strong></p>
        <p>Hệ thống Router, Switch số lượng lớn và hiện đại của các hãng công nghệ nổi tiếng trên thế giới như Cisco, Microsoft, HP, Juniper…</p>
        <p>Hệ thống Server chuyên dụng đáp ứng đủ cho nhu cầu học tập, nghiên cứu của học viên.</p>
        <p>Hệ thống tổng đài Voice hiện đại, đa dạng giúp học viên tự triển khai dự án cho khách hàng</p>
        <p>Hệ thống máy tính cấu hình mạnh, ổn định</p>
      </div>
    </div>
  </div>
  <br>
  <div class="clearfix"></div>
  <div class="row-fluid sec-insfrastructure">
    <div class="container">
      <div class="col-md-6">
        <h2><strong>CÁC THẾ MẠNH VƯỢT TRỘI CỦA NEWSTAR</strong></h2>
        <br />
        <p>Newstar là thương hiệu uy tín trong lĩnh vực đào tạo nguồn nhân lực CNTT, được SV và thị trường đánh giá cao trong gần 10 năm qua.</p>
        <p>Phương pháp đào tạo vượt trội. Trong đó, tập trung vào phát triển năng lực người học. Gắn chặt lý thuyết, thực hành, thực tiễn, phương pháp giải quyết vấn đề, đào tạo theo phương pháp project-based learning. Hệ thống quản lý học tập LMS được triển khai từ tháng 11/2017. Giáo viên bắt đầu sử dụng phương pháp dạy học tích hợp (Blended Learning) kết hợp học face-to-face và online-learning để tăng tính chủ động cho người học, mang lại hiệu quả học tập tốt hơn.</p>
        <p>Ban chuyên môn chịu trách nhiệm phát triển chương trình, phương pháp sư phạm & đào tạo đội ngũ giáo viên cũng là một điểm nổi bật của Newstar. Nhờ đó, giúp Newstar liên tục cập nhật, đổi mới, cải tiến liên tục nội dung chương trình đào tạo, phương pháp và nâng cao chất lượng đào tạo. Quy trình tuyển chọn và đào tạo đội ngũ giáo viên của Newstar cũng là một thế mạnh; được thực hiện tuyển chọn, bỗi dưỡng và đánh giá nghiêm ngặt, phát huy hiệu quả trong suốt hơn 9 năm qua.</p>
      </div>
      <div class="col-md-6">
        <img
          class="img-thumbnail"
          src="../../../assets/common/img/achievements-acquired/home-newstar-1.jpg"
          alt="csvc-newstar-3"
          srcset=""
        />
      </div>
    </div>
  </div>
  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  
</div>