* {box-sizing: border-box;}

/* h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 190px;
  height: 5px;
  width: 100px;
  background-color: #ff3115;
} */

.sec-insfrastructure {
  padding: 20px 0 20px 0
}


/* BEGIN ACCORDION */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.active-acc, .active-acc:hover {
  background-color: orangered;
  color: #fff;
}

.accordion:after {
  content: '\f0da';
  color: #777;
  font-family: FontAwesome;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-acc:after {
  content: '\f0d7';
  color: #777;
  font-family: FontAwesome;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  margin-top: 5px;
  padding: 0px 14px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
