/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeicons/primeicons.css";
@import "./assets/global/css/components.css";
@import "./assets/admin/layout/css/layout.css";
@import "./assets/global/plugins/simple-line-icons/simple-line-icons.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  margin: 0px !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}


.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(64, 186, 235);
  /*replace with your color*/
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;
  /*replace with your color*/
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: skyblue;
}

.site-logo {
  width: 150px;
  height: 40px;
}

.custom-modalbox mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 5px;
}

.ui-dialog-titlebar {
  background-color: #1070b3 !important;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.ui-dialog-title {
  color: rgb(250, 250, 250) !important;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.75rem;
}

.ui-dialog-content {
  overflow: scroll;
  max-height: 100%;
}

.ui-calender {
  width: 100%;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  margin-bottom: 0 !important;
}

[hidden] {
  display: none !important;
}

.ck-editor__editable {
  min-height: 500px;
}

.ui-inputtext {
  width: 85%;
}

.ui-calendar, .ui-calendar-w-btn {
  width: 100%;
}

.k-i-loading{
  background: transparent;
  top: 0;
  position: absolute;
  bottom: 0;
  z-index: 999999999999;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  cursor: wait;
  font-size: 50px;
}
