.page-content-wrapper {
  margin-top: 46px;
}

.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  width: 100%;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.page-bar::before,
.page-bar::after {
  content: " ";
  display: table;
}

.page-bar::after {
  clear: both;
}
.page-content-wrapper {
  margin-top: 46px;
}

.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  width: 100%;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.page-bar::before,
.page-bar::after {
  content: " ";
  display: table;
}

.page-bar::after {
  clear: both;
}

@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    margin-left: 235px;
    margin-top: 0px;
    min-height: 600px;
    padding: 25px 20px 10px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .page-content-wrapper {
    margin-top: 0px !important;
  }
}

