<nav
            aria-label="Page navigation"
            style="margin-top: -5px;"
            class="pull-right"
          >
            <ul class="pagination">
              <li [className]="current == 0 ? 'disabled' : 'enable'">
                <a (click)="onPrePage()" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li
                [className]="item === current ? 'active' : 'inactive'"
                *ngFor="let item of pageArray"
              >
                <a (click)="onGotoPage(item)">{{ item + 1 }}</a>
              </li>
              <li
                [className]="current === pageNumber - 1 ? 'disabled' : 'enable'"
              >
                <a (click)="onNextPage()" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>