.carousel-caption {
  top: 20% !important
}

* {box-sizing: border-box;}

/* BEGIN ACCORDION */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.active-acc, .active-acc:hover {
  background-color: orangered;
  color: #fff;
}

.accordion:after {
  content: '\f0da';
  color: #777;
  font-family: FontAwesome;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-acc:after {
  content: '\f0d7';
  color: #777;
  font-family: FontAwesome;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  margin-top: 5px;
  padding: 0px 14px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* CSS Overlay */
.container-overlay {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-overlay:hover .overlay {
  height: 100%;
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-block {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 80%;
  text-align: center;
  background-color: black;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.nav-tabs {
  border: none;
}

.nav-tabs li a, .nav-tabs li a.active {
  padding: 10px !important;
  background-color: transparent;

}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container-info {
  padding: 0 16px;
}

/* Clear floats */
.container-info::after, .row-info::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.course-img {
  position: relative;
  text-align: center;
  color: white;
}

.course-value {
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.counter {
  background-image: url('../../../assets/common/img/cta-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0 70px 0;
}

.sec-title {
  text-align: center;
}

/* .sec-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100px;
  background: #ff3115;
} */

.sec-title h2, .sec-title p {
  color: #fff;
}

.counter-list {
  border: #fff 1px solid;
  text-align: center;
  padding: 20px;
}

.counter-list h2, .counter-list h4 {
  color: #fff;
}

.counter-list:hover {
  border: #ff3115 1px solid;
}

