<div class="corporate" style="background-color: #fff !important">
  <!-- BEGIN TOP BAR -->
  <app-header-client></app-header-client>
  <!-- END TOP BAR -->
  <!-- BEGIN SLIDER -->
  <div class="page-slider margin-bottom-35">
    <!-- LayerSlider start -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img
            src="../../../assets/common/img/back-ground1.png"
            alt="Los Angeles"
            style="width:100%; opacity: 0.5"
          />
          <div class="carousel-caption">
            <h1>
              <strong
                >Chào mừng bạn đến với
                <span style="color: red">NewStar</span></strong
              >
            </h1>
            <h2>Chúng tối chuyên cung cấp các khóa học về</h2>
            <h2>
              Quản trị mạng, Quản trị hệ thống, Lập trình và An toàn thông tin
            </h2>
            <h2>Theo phương pháp Balend Learning</h2>
          </div>
        </div>
      </div>
      <!-- LayerSlider end -->
    </div>
    <!-- END SLIDER -->
    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
          <iframe
            height="270"
            allowfullscreen=""
            style="width:100%; border:0; height: 410px"
            src="https://www.youtube.com/embed/aZFSlYPpLjI"
            class="margin-bottom-10"
          ></iframe>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12" style="background-color: #fff">
          <div class="about-desc">
            <h2><strong>TRUNG TÂM ĐÀO TẠO NEWSTAR</strong></h2>
            <p>Trung tâm đào tạo Newstar được thành lập năm 2008.</p>
            <p>
              Qua gần 10 năm hoạt động, NewStar được thị trường khẳng định là
              một thương hiệu mạnh, uy tín và tin cậy trong hoạt động đào tạo và
              cung cấp nguồn nhân lực chất lượng cao về lĩnh vực CNTT.
            </p>

            <button class="accordion">Tầm nhìn</button>
            <div class="panel">
              <p>
                Trở thành trung tâm đào tạo chuyên sâu về công nghệ mạng, công
                nghệ phần mềm và chuyển giao giải pháp công nghệ thông tin hàng
                đầu Việt Nam.
              </p>
            </div>

            <button class="accordion">Sứ mệnh</button>
            <div class="panel">
              <p>
                Bằng tư duy đổi mới sáng tạo, newstar cam kết mang đến nguồn
                nhân lực công nghệ thông tin chất lượng cao cho cả nước và trong
                khu vực.
              </p>
            </div>

            <button class="accordion">Giá trị cốt lõi</button>
            <div class="panel">
              <p>
                Lấy uy tín và chất lượng làm nền tảng. Lấy tư duy sáng tạo đổi
                mới làm động lực cho sự phát triển. Lấy sự chuyên nghiệp làm
                phương châm cho mọi hành động.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- BEGIN DESC COURSES -->
    <!--  -->
    <div class="container">
      <div>
        <h2 class="desc-courses-title">
          <strong>CÁC KHÓA HỌC HÀNG ĐẦU CỦA CHÚNG TÔI</strong>
        </h2>
      </div>
      <app-top-courses></app-top-courses>
    </div>
    <br />
    <div class="counter">
      <div class="container">
        <div class="sec-title">
          <h2><strong>Thành tựu</strong></h2>
          <p>
            Trung tâm đào tạo Newstar thành lập năm 2008. <br />
            Qua gần 10 năm hoạt động, Newstar là một thương hiệu mạnh trong hoạt
            động đào tạo và cung cấp nguồn nhân lực chất lượng cao về lĩnh vực
            CNTT.
          </p>
        </div>
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xs-12">
            <div class="counter-list">
              <h2><strong [countUp]='12345' decimal='.'>0</strong></h2>
              <h4>HỌC VIÊN</h4>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-xs-12">
            <div class="counter-list">
              <h2><strong>{{ totalLectures }}</strong></h2>
              <h4>GIẢNG VIÊN</h4>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-xs-12">
            <div class="counter-list">
              <h2><strong>{{ totalCourses }}</strong></h2>
              <h4>KHÓA HỌC</h4>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-xs-12">
            <div class="counter-list">
              <h2><strong>32</strong></h2>
              <h4>THÀNH TỰU</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-truck"></i>
            <div>
              <h2>Free shipping</h2>
              <em>Express delivery withing 3 days</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-gift"></i>
            <div>
              <h2>Daily Gifts</h2>
              <em>3 Gifts daily for lucky customers</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>477 505 8877</h2>
              <em>24/7 customer care available</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END STEPS -->
  </div>
  <app-footer-client></app-footer-client>
  <app-popup-chat></app-popup-chat>
  <app-popup-social></app-popup-social>
  <app-scroll-to-top></app-scroll-to-top>
</div>
